<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <style>
    </style>
  </head>
  <body>
    <p>👋 Hey
      {{name}},
      <br />
      <br />
      {{otp}}
    </p>
  </body>
</html>