.form {
  height: fit-content;
  width: fit-content;
  min-width: 42rem;
  margin-top: -11rem;
  margin-bottom: 1rem;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  background-color: $COLOR_WHITE;
  border-radius: 2rem;

  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  &__heading {
    font-family: GILROY_BOLD;
    font-size: 4.5rem;
    margin-bottom: 3rem;
    margin-top: -1rem;
  }

  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-col {
      width: 47%;
      display: flex;
      flex-direction: column;
      column-gap: 2rem;
    }
  }

  &__label {
    font-weight: 600;
    font-size: 1.65rem;
    font-family: $GLOBAL_FONT;

    &-required {
      color: $COLOR_RED;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__input {
    margin-block: 0.6rem 2rem;
    padding: 1rem;
    font-size: 1.65rem;
    font-family: $GLOBAL_FONT;
    font-weight: 600;
    color: $COLOR_BLACK_PRIMARY;
    border-radius: 0.6rem;
    border: 0.2rem solid $COLOR_BLACK_PRIMARY;
    outline: none;

    &-container {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 35rem;
    }

    &-primary {
      width: 35rem;
    }

    &-password {
      width: 30rem;
      font-size: 1.65rem;
      font-family: $GLOBAL_FONT;
      font-weight: 600;
      color: $COLOR_BLACK_PRIMARY;
      border: none;
      outline: none;
    }

    &-info {
      padding: 1rem;
      background-color: $AUTH_INFO_GREEN_BACKGROUND;
      color: $AUTH_INFO_GREEN_TEXT;
      border: 0.2rem solid $AUTH_INFO_GREEN_BORDER;
      border-radius: 0.6rem;
    }
  }

  &__button {
    padding: 0.8rem 1rem 1rem 1rem;
    text-align: center;
    color: $COLOR_WHITE;
    cursor: pointer;
    border-radius: 1rem;
    border: 0.2rem solid $COLOR_BLACK_PRIMARY;

    &-primary {
      width: 100%;
      min-width: 35rem;
      font-weight: 600;
      font-family: $GLOBAL_FONT;
      font-size: 1.8rem;
    }

    &-secondary {
      width: fit-content;
      font-weight: 600;
      font-family: $GLOBAL_FONT;
      font-size: 1.7rem;
    }

    &-password {
      position: absolute;
      margin-right: 1rem;
      margin-top: 0.5rem;
      font-size: 2.3rem;
      background-color: $COLOR_WHITE;
      right: 0;
      border: none;
      cursor: pointer;
    }

    &-text {
      width: fit-content;
      background-color: $COLOR_WHITE;
      color: $COLOR_BLUE;
      font-weight: 600;
      font-family: $GLOBAL_FONT;
      font-size: 1.64rem;
      border: none;
      cursor: pointer;
      text-decoration: none;
    }

    &-state {
      width: 5rem;
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 4rem;
    }

    &-emoji {
      position: absolute;
      font-size: 1.9rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__social {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;

    &-image {
      margin-inline: 1rem;
      height: 5rem;
      border-radius: 0.8rem;
      cursor: pointer;
    }
  }

  &__text-primary {
    font-size: 1.65rem;
    font-weight: 600;
    font-family: $GLOBAL_FONT;
  }

  &__text-secondary {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: $GLOBAL_FONT;
  }

  &__text-tertiary {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: $GLOBAL_FONT;
  }

  &__emoji {
    font-size: 3rem;
    margin-top: 1rem;
    cursor: pointer;
    text-align: right;
  }

  &__validation {
    border-radius: 0.6rem;
    padding: 1rem;

    &-section {
      display: flex;
      align-items: center;
    }

    &-text {
      font-size: 1.4rem;
      font-weight: 600;
      font-family: $GLOBAL_FONT;
      line-height: 2.2rem;
    }

    &-icon {
      font-size: 1.65rem;
      margin-top: 0.3rem;
      margin-inline: 0.5rem 1.2rem;
    }

    &-green {
      background-color: $AUTH_INFO_GREEN_BACKGROUND;
      border: 0.2rem solid $AUTH_INFO_GREEN_BORDER;
      color: $AUTH_INFO_GREEN_TEXT;
    }

    &-red {
      background-color: $AUTH_INFO_RED_BACKGROUND;
      border: 0.2rem solid $AUTH_INFO_RED_BORDER;
      color: $AUTH_INFO_RED_TEXT;
    }
  }
}
