.auth {
  position: relative;

  &.light {
    background-color: $GLOBAL-BACKGROUND-LIGHT-PRIMARY;
  }

  &.dark {
    background-color: $GLOBAL-BACKGROUND-DARK-PRIMARY;
  }

  &__component {
    @include flex-col-c;
    height: 100%;
  }

  &__theme {
    position: fixed;
    bottom: 2rem;
    right: 2.5rem;
  }
}
