.edit-profile {
  position: relative;
  height: 100vh;

  &.light {
    background-color: $GLOBAL-BACKGROUND-LIGHT-PRIMARY;
  }

  &.dark {
    background-color: $GLOBAL-BACKGROUND-DARK-PRIMARY;
  }

  &__theme {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }

  &__coming-soon {
    @include flex-row-c-c;
    height: 46.5rem;
  }

  &__header {
    @include flex-row-sb;
    height: 29rem;
    width: 100%;
    padding: 5rem 6rem;
    color: $PROFILE-TEXT-LIGHT;
    background-color: $EDIT-PROFILE-BANNER;

    &-text {
      font-size: 9rem;
      font-family: $PROFILE-SECONDARY-FONT;
    }

    &-btn {
      position: absolute;
      right: 6rem;
      background-color: $PROFILE-BACKGROUND-LIGHT;
      border: none;
      border-radius: 50%;
      padding: 1rem;
      font-size: 2.5rem;
      cursor: pointer;
      text-decoration: none;
      margin-top: 1rem;
    }
  }

  &__sections {
    @include flex-row-sb;
    margin-top: -6.25rem;
    margin-inline: 27rem;
    padding-bottom: 2rem;
  }

  &__menu {
    height: 100%;
    width: 25rem;
    max-width: 25rem;
    border-radius: 0.8rem;
    text-align: center;
    margin-bottom: 2rem;

    &.light {
      background-color: $GLOBAL-BACKGROUND-LIGHT-TERTIARY;
    }

    &.dark {
      background-color: $GLOBAL-BACKGROUND-DARK-TERTIARY;
    }

    &-cover {
      height: 6.25rem;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 0.6rem;
      border-top-right-radius: 0.6rem;
    }

    &-avatar {
      height: 7rem;
      width: 7rem;
      object-fit: cover;
      margin-top: -4rem;
      border-radius: 50%;
    }

    &-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-inline: 1.5rem;
      margin-block: 1rem;
    }

    &-link {
      @include flex-row-null-c;
      width: 100%;
      padding: 0.8rem 1rem 1rem 1rem;
      font-size: 2rem;
      text-decoration: none;
      border-radius: 0.6rem;
      margin-block: 0.25rem;

      &.light {
        color: $PROFILE-TEXT-DARK;

        &:hover {
          box-shadow: inset 24rem 0 0 0 $PROFILE-BACKGROUND-DARK;
          color: $PROFILE-TEXT-LIGHT;
          transition: $GLOBAL-HOVER-TRANSITION;
        }
      }

      &.dark {
        color: $PROFILE-TEXT-LIGHT;

        &:hover {
          color: $PROFILE-TEXT-LIGHT;
          box-shadow: inset 24rem 0 0 0 $EDIT-PROFILE-MENU-HOVER;
          transition: $GLOBAL-HOVER-TRANSITION;
        }
      }

      &--icon {
        width: 14%;
        font-size: 2.6rem;
      }

      &--text {
        width: 75%;
        text-align: left;
        margin-left: 1.5rem;
        font-size: 1.6rem;
        font-family: $PROFILE-PRIMARY-FONT;
        font-weight: 600;
      }
    }
  }

  &__form {
    height: 100%;
    width: 72rem;
    border-radius: 0.6rem;

    &.light {
      background-color: $PROFILE-BACKGROUND-LIGHT;
      color: $PROFILE-TEXT-DARK;
    }

    &.dark {
      background-color: $PROFILE-BACKGROUND-DARK;
      color: $PROFILE-TEXT-LIGHT;
    }
  }
}
