.home {
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &.light {
    background-color: $GLOBAL-BACKGROUND-LIGHT-PRIMARY;
  }

  &.dark {
    background-color: $GLOBAL-BACKGROUND-DARK-PRIMARY;
  }

  &__sections {
    display: flex;
    &-outlet {
      margin-inline: 2rem;
      width: 80rem;
      max-width: 80rem;
    }
  }

  &__theme {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }
}
