.create-post {
  height: auto;
  width: 100%;
  padding-inline: 1.5rem;
  padding-block: 1.5rem 1rem;
  border-radius: 0.6rem;

  &.light {
    background-color: $GLOBAL-BACKGROUND-LIGHT-TERTIARY;
  }

  &.dark {
    background-color: $GLOBAL-BACKGROUND-DARK-TERTIARY;
  }

  &__top {
    display: flex;
    width: 100%;

    &-image {
      height: 6rem;
      width: 6rem;
      object-fit: cover;
      // margin-right: 1rem;
      border-radius: 50%;
    }

    &-textarea {
      @include font-p-p-600;
      height: 12rem;
      min-height: 12rem;
      width: 86%;
      padding: 0.3rem 0.8rem;
      overflow-y: visible;
      border: none;
      outline: none;
      resize: none;
      margin-left: 0.5rem;
      background-color: transparent;

      &.light {
        color: $GLOBAL-TEXT-COLOR-LIGHT;
      }

      &.dark {
        color: $GLOBAL-TEXT-COLOR-DARK;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__bottom {
    @include flex-row-sb-c;
    margin-top: 1rem;
  }

  &__media {
    @include flex-row-null-c;
    justify-content: left;
    column-gap: 0.5rem;

    &-icons {
      font-size: 3.5rem;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 50%;

      &.light {
        color: $GLOBAL-ICON-COLOR-LIGHT;
      }

      &.dark {
        color: $GLOBAL-ICON-COLOR-DARK;
      }

      &:hover {
        background-color: $GLOBAL-BLACK-PALETTE-LIGHT;
        color: $GLOBAL-BLACK-PALETTE-DARK;
        transition: $GLOBAL-HOVER-TRANSITION;
      }
    }

    &-preview {
      max-height: 20rem;
      display: flex;
      overflow-x: scroll;
      column-gap: 0.5rem;
      border-radius: 0.6rem;

      &__container {
        position: relative;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-show {
      height: 20rem;
      border-radius: 0.6rem;
    }

    &-delete {
      position: absolute;
      cursor: pointer;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      top: 0.5rem;
      right: 0.5rem;
      border-radius: 50%;
    }

    &-input {
      display: none;
    }
  }

  &__button {
    @include flex-row-c-c;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    &-icon {
      font-size: 3.4rem;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 50%;
      margin-top: -0.1rem;

      &.light {
        color: $GLOBAL-ICON-COLOR-LIGHT;
      }

      &.dark {
        color: $GLOBAL-ICON-COLOR-DARK;
      }
      &:hover {
        background-color: $GLOBAL-BLUE-PALETTE-LIGHT;
        color: $GLOBAL-BLUE-PALETTE-DARK;
        transition: $GLOBAL-HOVER-TRANSITION;
      }
    }
  }

  &__loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;

    &--text {
      @include font-p-p-600;

      &.light {
        color: $GLOBAL-ICON-COLOR-LIGHT;
      }

      &.dark {
        color: $GLOBAL-ICON-COLOR-DARK;
      }
    }
  }
}
