.create-comment {
  background-color: $COLOR_GREY;
  border-radius: 0.6rem;
  width: 42rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0.3rem 0.6rem 0.3rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding-block: 1rem 0.2rem;
    border-top: 0.1rem solid $COLOR_GREY;
  }

  &__user {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }

  &__input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 35rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: $GLOBAL_FONT;
    word-wrap: break-word;
    padding-left: 0.5rem;
  }

  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    outline: none;
    margin-bottom: -0.4rem;

    &-icon {
      color: $COLOR_BLACK_SECONDARY;
      font-size: 3rem;
      padding: 0.5rem;
      border-radius: 50%;
      margin-top: -0.1rem;

      &:hover {
        color: $AUTH_INFO_ORANGERED_TEXT;
        background-color: $AUTH_INFO_ORANGERED_BACKGROUND;
        transition: $HOVER_TRANSITION;
      }
    }
  }
}
