.create-post {
  height: auto;
  width: 100%;
  padding-inline: 1.5rem;
  padding-block: 1.5rem 1rem;
  border-radius: 0.6rem;
  background-color: $COLOR_WHITE;

  &__top {
    display: flex;
    width: 100%;

    &-image {
      height: 6rem;
      margin-right: 1rem;
      border-radius: 50%;
    }

    &-textarea {
      height: 10rem;
      min-height: 12rem;
      width: 100%;
      padding: 0.3rem 0.8rem;
      overflow-y: visible;
      border: none;
      outline: none;
      resize: vertical;
      font-size: 1.55rem;
      font-family: $GLOBAL_FONT;
      font-weight: 500;

      &::-webkit-scrollbar {
        width: 1rem;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
  }

  &__media {
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 0.5rem;

    &-icons {
      font-size: 3.5rem;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 50%;
      color: $COLOR_BLACK_SECONDARY;

      &:hover {
        background-color: $AUTH_INFO_BLACK_BACKGROUND;
        color: $AUTH_INFO_BLACK_TEXT;
        transition: $HOVER_TRANSITION;
      }
    }

    &-input {
      display: none;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

    &-icon {
      color: $COLOR_BLACK_SECONDARY;
      font-size: 3.4rem;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 50%;
      margin-top: -0.1rem;

      &:hover {
        background-color: $AUTH_INFO_ORANGERED_BACKGROUND;
        color: $AUTH_INFO_ORANGERED_TEXT;
        transition: $HOVER_TRANSITION;
      }
    }
  }
}
