.create-comment {
  @include flex-row-sb-c;
  border-radius: 0.6rem;
  width: 42rem;
  padding: 0.4rem 0.3rem 0.7rem 0.3rem;

  &.light {
    background-color: $GLOBAL-BORDER-LIGHT;
  }

  &.dark {
    background-color: $GLOBAL-BACKGROUND-DARK-PRIMARY;
  }

  &__container {
    @include flex-row-sb-c;
    margin-top: 0.5rem;
    padding-block: 1rem 0.2rem;

    &.light {
      border-top: 0.1rem solid $GLOBAL-BORDER-LIGHT;
    }

    &.dark {
      border-top: 0.1rem solid #444444;
    }
  }

  &__user {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }

  &__input {
    @include font-p-s-600;
    background-color: transparent;
    border: none;
    outline: none;
    width: 35rem;
    word-wrap: break-word;
    padding-left: 0.5rem;

    &.light {
      color: $GLOBAL-TEXT-COLOR-LIGHT;
    }

    &.dark {
      color: $GLOBAL-TEXT-COLOR-DARK;
    }
  }

  &__button {
    @include flex-row-c-c;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    margin-bottom: -0.4rem;

    &--section {
      @include flex-row-c-c;
    }

    &-icon {
      font-size: 3rem;
      padding: 0.5rem;
      border-radius: 50%;
      margin-top: -0.1rem;

      &.light {
        color: $GLOBAL-ICON-COLOR-LIGHT;
      }

      &.dark {
        color: $GLOBAL-ICON-COLOR-DARK;
      }

      &:hover {
        background-color: $GLOBAL-BLUE-PALETTE-LIGHT;
        color: $GLOBAL-BLUE-PALETTE-DARK;
        transition: $GLOBAL-HOVER-TRANSITION;
      }
    }
  }
}

#create-comment {
  width: 37rem;
  &__input--quote {
    width: 28rem;
  }

  &__container {
    border: none;
  }

  &__delete-quote {
    &:hover {
      background-color: $GLOBAL-RED-PALETTE-LIGHT;
      color: $GLOBAL-RED-PALETTE-DARK;
      transition: $GLOBAL-HOVER-TRANSITION;
    }
  }
}
