.post {
  width: 100%;
  background-color: $COLOR_WHITE;
  padding: 1.5rem;
  margin-block: 2rem;
  border-radius: 0.6rem;
  overflow: hidden;

  &__header {
    margin-block: 1rem;
    display: flex;
    align-items: top;
    justify-content: space-between;
    position: relative;

    &-user {
      display: flex;
      align-items: center;

      &-image {
        height: 5rem;
        border-radius: 50%;
        margin-right: 1rem;
      }

      &-name {
        font-family: Poppins;
        font-weight: 1000;
        font-size: 1.55rem;
      }

      &-date {
        font-family: Poppins;
        font-weight: 1000;
        font-size: 1.2rem;
        color: $COLOR_BLACK_SECONDARY;
      }
    }

    &-options {
      font-size: 3rem;
      cursor: pointer;
      padding: 0.5rem;
      background-color: $COLOR_GREY;
      border-radius: 50%;

      &:hover {
        background-color: $COLOR_BLACK_SECONDARY;
        color: $COLOR_WHITE;
      }

      &-menu {
        width: 16rem;
        margin-top: 3.5rem;
        position: absolute;
        padding: 1rem;
        right: 0;
        border-radius: 0.6rem;
        background-color: $COLOR_WHITE;
        border: 0.1rem solid $COLOR_GREY;
        box-shadow: 0px 0px 1rem $COLOR_GREY;
      }

      &-section {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.5em 1rem;
        cursor: pointer;
        color: $COLOR_BLACK_SECONDARY;
        border-radius: 0.6rem;

        &:hover {
          background-color: $COLOR_BLACK_PRIMARY;
          color: $COLOR_WHITE;
        }
      }

      &-text {
        font-size: 1.5rem;
        font-family: Poppins;
        font-weight: 600;
        margin-left: 1rem;
      }

      &-icon {
        width: 15%;
        font-size: 2rem;
      }
    }
  }

  &__body {
    margin-block: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    &-text {
      font-size: 1.6rem;
      font-family: GILROY_LIGHT;
      font-weight: 600;
      text-align: justify;
      padding-inline: 1rem;
      line-height: 2.2rem;
    }

    &-media {
      width: 100%;
      margin-top: 1rem;

      &-image {
        max-height: 30rem;
        border-radius: 0.6rem;
        width: 100%;
        cursor: pointer;
      }
    }
  }

  &__footer {
    border-top: 0.1rem solid $COLOR_GREY;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-section {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      color: $COLOR_BLACK_SECONDARY;
      cursor: pointer;

      &-icons {
        font-size: 2.8rem;
      }

      &-text {
        font-family: Poppins;
        font-size: 1.5rem;
        font-weight: 1000;
        margin-top: -0.2rem;
        margin-left: 0.2rem;
      }
    }
  }
}

#post__like:hover {
  color: $COLOR_RED;
  transform: scale(105%);
  transition: all 0.3s ease-in-out;
}

#post__follow:hover {
  color: $COLOR_BLUE;
  transform: scale(101%);
  transition: all 0.3s ease-in-out;
}

#post__comment:hover {
  color: $COLOR_BLACK_PRIMARY;
  transform: scale(101%);
  transition: all 0.3s ease-in-out;
}

#post__repost:hover {
  color: $COLOR_BLACK_PRIMARY;
  transform: scale(101%);
  transition: all 0.3s ease-in-out;
}

#post__options-delete:hover {
  background-color: $COLOR_RED;
  color: $COLOR_WHITE;
}
