.reply {
  list-style: none;
  max-height: 32rem;
  overflow-y: scroll;
  margin-left: 5rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &__update {
    margin-left: 5rem;
  }

  &__menu {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &-container {
      position: relative;
    }

    &-icon {
      cursor: pointer;
      font-size: 2.5rem;
      padding: 0.3rem;
      border-radius: 50%;

      &.light {
        background-color: $GLOBAL-BORDER-LIGHT;
        color: $GLOBAL-TEXT-COLOR-LIGHT;

        &:hover {
          background-color: $GLOBAL-BLACK-PALETTE-LIGHT;
          color: $GLOBAL-BLACK-PALETTE-DARK;
          transition: $GLOBAL-HOVER-TRANSITION;
        }
      }

      &.dark {
        background-color: $GLOBAL-HOVER-DARK;
        color: $GLOBAL-TEXT-COLOR-DARK;

        &:hover {
          background-color: $GLOBAL-BLACK-PALETTE-LIGHT;
          color: $GLOBAL-BLACK-PALETTE-DARK;
          transition: $GLOBAL-HOVER-TRANSITION;
        }
      }
    }

    &-items {
      @include flex-col-c;
      padding: 0.5rem;
      position: absolute;
      border-radius: 0.6rem;
      z-index: 1;
      top: 0;
      margin-top: 2.9rem;
      width: 12.1rem;
      right: 0;

      &.light {
        background-color: $GLOBAL-BACKGROUND-LIGHT-TERTIARY;
        border: 0.1rem solid $GLOBAL-BORDER-LIGHT;
        box-shadow: 0px 0px 1rem $GLOBAL-BORDER-LIGHT;
      }

      &.dark {
        background-color: $GLOBAL-BACKGROUND-DARK-PRIMARY;
        border: 0.1rem solid $GLOBAL-BORDER-DARK;
        box-shadow: 0px 0px 1rem $GLOBAL-BORDER-DARK;
      }
    }

    &-item {
      @include flex-row-null-c;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 0.6rem;
      width: 100%;

      &.light {
        color: $GLOBAL-TEXT-COLOR-LIGHT;

        &:hover {
          background-color: $GLOBAL-HOVER-LIGHT;
          color: $GLOBAL-TEXT-COLOR-DARK;
          transition: $GLOBAL-HOVER-TRANSITION;
        }
      }

      &.dark {
        color: $GLOBAL-TEXT-COLOR-DARK;

        &:hover {
          background-color: $GLOBAL-HOVER-DARK;
          color: $GLOBAL-TEXT-COLOR-DARK;
          transition: $GLOBAL-HOVER-TRANSITION;
        }
      }

      &-icon {
        font-size: 1.5rem;
      }

      &-text {
        font-size: 1.3rem;
        font-family: $GLOBAL-FONT-PRIMARY;
        font-weight: $GLOBAL-TEXT-WEIGHT;
        margin-left: 1rem;
        margin-top: -0.2rem;
      }
    }
  }

  &__list {
    margin-block: 1rem;

    &-header {
      @include flex-row-sb-c;

      &-user {
        @include flex-row-null-c;
      }
    }

    &-user {
      @include flex-col-c;
      margin-left: 1rem;
      line-height: 2rem;

      &.light {
        color: $GLOBAL-TEXT-COLOR-LIGHT;
      }

      &.dark {
        color: $GLOBAL-TEXT-COLOR-DARK;
      }

      &-name {
        font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
        font-family: $GLOBAL-FONT-PRIMARY;
        font-weight: $GLOBAL-TEXT-WEIGHT;
      }
      &-username {
        font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
        font-family: $GLOBAL-FONT-PRIMARY;
        font-weight: $GLOBAL-TEXT-WEIGHT;
      }
    }

    &-avatar {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
    }

    &-body {
      margin-left: 5rem;
      margin-top: 0.8rem;
      padding: 1rem;
      border-radius: 0.6rem;

      &.light {
        background-color: $GLOBAL-BORDER-LIGHT;
        color: $GLOBAL-TEXT-COLOR-LIGHT;
      }

      &.dark {
        background-color: $GLOBAL-BACKGROUND-DARK-PRIMARY;
        color: $GLOBAL-TEXT-COLOR-DARK;
      }
    }

    &-content {
      overflow-wrap: break-word;
      font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
      font-family: $GLOBAL-FONT-PRIMARY;
      font-weight: 480;
      text-align: justify;
    }

    &-date {
      font-size: 1.2rem;
      font-family: $GLOBAL-FONT-PRIMARY;
      font-weight: 450;
      margin-top: 0.8rem;
    }

    &-footer {
      @include flex-row-null-c;
      margin-left: 5rem;
      margin-block: 0.5rem 1.5rem;

      &.light {
        color: $GLOBAL-TEXT-COLOR-LIGHT;
      }

      &.dark {
        color: $GLOBAL-TEXT-COLOR-DARK;
      }

      &-icons {
        &-primary {
          padding: 0.3rem;
          font-size: 2.5rem;
          cursor: pointer;
          border-radius: 50%;
        }

        &-secondary {
          padding: 0.4rem;
          font-size: 2.5rem;
          cursor: pointer;
          border-radius: 50%;
        }
      }

      &-text {
        font-family: $GLOBAL-FONT-PRIMARY;
        font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
        font-weight: 500;
        margin-right: 1rem;
      }
    }
  }

  &__quoted {
    padding: 1rem;
    border-radius: 0.6rem;

    &.light {
      background-color: darken($GLOBAL-BORDER-LIGHT, 5%);
      border-left: 0.3rem solid darken($GLOBAL-BORDER-LIGHT, 30%);
      color: lighten($GLOBAL-TEXT-COLOR-LIGHT, 25%);
    }

    &.dark {
      background-color: darken($GLOBAL-BACKGROUND-DARK-PRIMARY, 5%);
      border-left: 0.3rem solid darken($GLOBAL-BACKGROUND-DARK-PRIMARY, 30%);
      color: darken($GLOBAL-TEXT-COLOR-DARK, 25%);
    }

    &-container {
      margin-left: 5rem;
      padding: 1rem;
      margin-top: -0.8rem;
      border-bottom-left-radius: 0.6rem;
      border-bottom-right-radius: 0.6rem;

      &.light {
        background-color: $GLOBAL-BORDER-LIGHT;
      }

      &.dark {
        background-color: $GLOBAL-BACKGROUND-DARK-PRIMARY;
      }
    }

    &-user {
      font-family: $GLOBAL-FONT-PRIMARY;
      font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
      font-weight: $GLOBAL-TEXT-WEIGHT;
      margin-bottom: 0.5rem;
    }

    &-content {
      font-family: $GLOBAL-FONT-PRIMARY;
      font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
      font-weight: 450;
    }
  }

  &__quote {
    margin-left: 5rem;
    padding: 1rem;
    border-radius: 0.6rem;

    &.light {
      background-color: $GLOBAL-BORDER-LIGHT;
    }

    &.dark {
      background-color: $GLOBAL-BACKGROUND-DARK-PRIMARY;
    }

    &--selected {
      padding: 1rem;
      border-radius: 0.6rem;

      &.light {
        background-color: darken($GLOBAL-BORDER-LIGHT, 5%);
        border-left: 0.3rem solid darken($GLOBAL-BORDER-LIGHT, 30%);
        color: lighten($GLOBAL-TEXT-COLOR-LIGHT, 25%);
      }

      &.dark {
        background-color: darken($GLOBAL-BACKGROUND-DARK-PRIMARY, 5%);
        border-left: 0.3rem solid darken($GLOBAL-BACKGROUND-DARK-PRIMARY, 30%);
        color: darken($GLOBAL-TEXT-COLOR-DARK, 25%);
      }
    }

    &-user {
      font-family: $GLOBAL-FONT-PRIMARY;
      font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
      font-weight: $GLOBAL-TEXT-WEIGHT;
      margin-bottom: 0.5rem;
    }

    &-content {
      font-family: $GLOBAL-FONT-PRIMARY;
      font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
      font-weight: 450;
    }
  }

  &__toggle {
    font-family: $GLOBAL-FONT-PRIMARY;
    font-size: 1.2rem;
    font-weight: $GLOBAL-TEXT-WEIGHT;
    text-decoration: underline;
    margin-left: 5rem;
    margin-bottom: 0;
    cursor: pointer;

    &.light {
      color: $GLOBAL-TEXT-COLOR-LIGHT;
    }

    &.dark {
      color: $GLOBAL-TEXT-COLOR-DARK;
    }
  }
}

#reply {
  &__reaction:hover {
    background-color: $GLOBAL-RED-PALETTE-LIGHT;
    color: red;
    transition: $HOVER_TRANSITION;
  }

  &__reply:hover {
    background-color: $GLOBAL-BLUE-PALETTE-LIGHT;
    color: $GLOBAL-BLUE-PALETTE-DARK;
    transition: $HOVER_TRANSITION;
  }

  &__quote:hover {
    background-color: $GLOBAL-GREEN-PALETTE-LIGHT;
    color: $GLOBAL-GREEN-PALETTE-DARK;
    transition: $HOVER_TRANSITION;
  }

  &__menu-delete:hover {
    background-color: red;
    color: $GLOBAL-TEXT-COLOR-DARK;
    transition: $HOVER_TRANSITION;
  }
}
