.home-page {
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 50rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    height: 85vh;
    display: flex;
    column-gap: 2rem;
  }
}
