.auth-banner {
  @include flex-row-c-c;
  height: 55vh;
  border-radius: 3rem;
  background-color: $AUTH-BANNER-BACKGROUND;

  &__container {
    height: 100vh;
    padding: 3rem;
  }

  &__text {
    margin-top: -12rem;
    font-family: $AUTH-SECONDARY-FONT;
    font-size: 5.5vw;
    color: $AUTH-BANNER-TEXT;
    text-align: center;
    background-color: initial;
  }
}
