.auth-email {
  background: #f00000;
  background: -webkit-linear-gradient(to right, #dc281e, #f00000);
  background: linear-gradient(to right, #dc281e, #f00000);
  text-align: center;
  padding: 1rem;
  cursor: pointer;

  &__text {
    font-family: Poppins;
    color: $COLOR_WHITE;
    font-size: 1.5rem;
    font-weight: 550;
  }
}
