.auth-email {
  background: #f00000;
  background: -webkit-linear-gradient(to right, #dc281e, #f00000);
  background: linear-gradient(to right, #dc281e, #f00000);
  text-align: center;
  padding-block: 1rem 1.2rem;
  cursor: pointer;

  &__text {
    font-family: $AUTH-PRIMARY-FONT;
    color: $COLOR_WHITE;
    font-size: $AUTH-FORM-PRIMARY-SIZE;
    font-weight: 550;
  }
}
