.auth-form {
  @include flex-col-c;
  min-width: 40rem;
  margin-top: -40rem;
  margin-bottom: 5rem;
  padding: 3.5rem;
  border-radius: 1rem;

  &.light {
    background-color: $GLOBAL-BACKGROUND-LIGHT-TERTIARY;
  }

  &.dark {
    background-color: $GLOBAL-BACKGROUND-DARK-TERTIARY;
  }

  &__container {
    @include flex-row-c-c;
    height: 100%;
    width: 100%;
    column-gap: 2.5rem;

    &-sub {
      @include flex-col-c;
    }
  }

  &__tag {
    @include flex-col-c;
  }

  &__heading {
    font-family: $GLOBAL-FONT-SECONDARY;
    font-size: 4rem;
    margin-bottom: 2.5rem;
    margin-top: -1rem;

    &.light {
      color: $GLOBAL-TEXT-COLOR-LIGHT;
    }

    &.dark {
      color: $GLOBAL-TEXT-COLOR-DARK;
    }
  }

  &__text {
    &--info {
      color: red;
      font-family: $GLOBAL-FONT-PRIMARY;
      font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
      font-weight: $GLOBAL-TEXT-WEIGHT;
      margin-top: -1rem;
      margin-bottom: 1.5rem;
    }
  }

  &__label {
    font-family: $GLOBAL-FONT-PRIMARY;
    font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
    font-weight: $GLOBAL-TEXT-WEIGHT;

    &.light {
      color: $GLOBAL-TEXT-COLOR-LIGHT;
    }

    &.dark {
      color: $GLOBAL-TEXT-COLOR-DARK;
    }

    &--required {
      color: red;
    }

    &--container {
      @include flex-row-sb-c;
    }
  }

  &__input {
    width: 100%;
    min-width: 33rem;
    margin-block: 0.8rem 1.5rem;
    padding: 1rem;
    font-family: $GLOBAL-FONT-PRIMARY;
    font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
    font-weight: $GLOBAL-TEXT-WEIGHT;
    border-radius: 0.6rem;
    outline: none;

    &.light {
      background-color: $GLOBAL-BACKGROUND-LIGHT-TERTIARY;
      border: 0.2rem solid $AUTH-FORM-BORDER-LIGHT;
      color: $GLOBAL-TEXT-COLOR-LIGHT;
    }

    &.dark {
      background-color: $GLOBAL-BACKGROUND-DARK-TERTIARY;
      border: 0.2rem solid $AUTH-FORM-BORDER-DARK;
      color: $GLOBAL-TEXT-COLOR-DARK;

      &:focus-within {
        border: 0.2rem solid $GLOBAL-TEXT-COLOR-DARK;
        transition: $GLOBAL-HOVER-TRANSITION;
      }
    }

    &--container {
      @include flex-row-sb-c;
      position: relative;
      width: 33rem;

      &.dark {
        &:focus {
          border: 0.2rem solid $GLOBAL-TEXT-COLOR-DARK;
          transition: $GLOBAL-HOVER-TRANSITION;
        }
      }
    }

    &--password {
      width: 27rem;
      font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
      font-family: $GLOBAL-FONT-PRIMARY;
      font-weight: $GLOBAL-TEXT-WEIGHT;
      border: none;
      outline: none;

      &.light {
        background-color: $GLOBAL-BACKGROUND-LIGHT-TERTIARY;
        color: $GLOBAL-TEXT-COLOR-LIGHT;
      }

      &.dark {
        background-color: $GLOBAL-BACKGROUND-DARK-TERTIARY;
        color: $GLOBAL-TEXT-COLOR-DARK;

        &:focus {
          transition: $GLOBAL-HOVER-TRANSITION;
        }
      }
    }
  }

  &__button {
    width: 100%;
    padding: 0.8rem 1rem 1.1rem 1rem;
    text-align: center;
    border-radius: 0.6rem;
    font-weight: $GLOBAL-TEXT-WEIGHT;
    font-family: $GLOBAL-FONT-PRIMARY;
    font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
    border: none;

    &.light {
      background-color: $AUTH-BUTTON-ENABLED-LIGHT;
      color: $GLOBAL-TEXT-COLOR-DARK;
      border: 0.2rem solid $AUTH-BUTTON-ENABLED-LIGHT;
      transition: $GLOBAL-HOVER-TRANSITION;

      &:hover {
        background-color: $AUTH-BUTTON-HOVER-LIGHT;
        border: 0.2rem solid $AUTH-BUTTON-HOVER-LIGHT;
        cursor: pointer;
        transition: $GLOBAL-HOVER-TRANSITION;
      }

      &:disabled {
        background-color: $AUTH-BUTTON-DISABLED-LIGHT;
        border: 0.2rem solid $AUTH-BUTTON-DISABLED-LIGHT;
        cursor: not-allowed;
        transition: $GLOBAL-HOVER-TRANSITION;
      }
    }

    &.dark {
      background-color: $AUTH-BUTTON-ENABLED-DARK;
      color: $GLOBAL-TEXT-COLOR-DARK;
      border: 0.2rem solid $AUTH-BUTTON-ENABLED-DARK;
      transition: $GLOBAL-HOVER-TRANSITION;

      &:hover {
        background-color: $GLOBAL-BACKGROUND-DARK-TERTIARY;
        border: 0.2rem solid $AUTH-FORM-BORDER-DARK;
        cursor: pointer;
        transition: $GLOBAL-HOVER-TRANSITION;
      }

      &:disabled {
        background-color: $AUTH-BUTTON-DISABLED-DARK;
        border: 0.2rem solid $AUTH-BUTTON-DISABLED-DARK;
        cursor: not-allowed;
        transition: $GLOBAL-HOVER-TRANSITION;
      }
    }

    &--text {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
      font-family: $GLOBAL-FONT-PRIMARY;
      font-weight: $GLOBAL-TEXT-WEIGHT;
      text-align: right;

      &.light {
        color: $GLOBAL-TEXT-COLOR-LIGHT;
      }

      &.dark {
        color: $GLOBAL-TEXT-COLOR-DARK;
      }
    }
  }

  &__icon {
    &--container {
      @include flex-row-c-c;
      font-size: 2.2rem;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &.light {
        color: $GLOBAL-TEXT-COLOR-LIGHT;
      }

      &.dark {
        color: $GLOBAL-TEXT-COLOR-DARK;
      }
    }
  }

  &__social {
    @include flex-col-c-c;
  }

  &__validation {
    border-radius: 0.6rem;
    padding: 1rem;

    &-section {
      @include flex-row-null-c;
    }

    &-text {
      font-family: $GLOBAL-FONT-PRIMARY;
      font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
      font-weight: $GLOBAL-TEXT-WEIGHT;
      line-height: 2.2rem;
      margin-top: -0.1rem;
    }

    &-icon {
      font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
      margin-top: 0.3rem;
      margin-inline: 0.5rem 1.2rem;
    }

    &-green {
      background-color: $GLOBAL-GREEN-PALETTE-LIGHT;
      color: $GLOBAL-GREEN-PALETTE-DARK;
    }

    &-red {
      background-color: $GLOBAL-RED-PALETTE-LIGHT;
      color: $GLOBAL-RED-PALETTE-DARK;
    }
  }
}

/* Webkit browsers like Safari and Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
