* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  body {
    background-color: $GLOBAL-LIGHT-BACKGROUND;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.body-format {
  margin: auto;
  width: 115rem;
}
