* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $GLOBAL_FONT;
  body {
    background-color: $GLOBAL-LIGHT-BACKGROUND;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.body-format {
  margin: auto;
  width: 105rem;
}

.coming-soon {
  display: flex;
  justify-content: space-between;
  &__text {
    font-family: $GLOBAL_FONT;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    color: $COLOR_BLACK_SECONDARY;
    &-container {
      width: 83rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
