* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $GLOBAL-FONT-PRIMARY;
  body {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.body-format {
  margin: auto;
  width: 107rem;
}

.coming-soon {
  @include flex-row-sb-c;
  height: 100%;

  &__text {
    font-family: $GLOBAL-FONT-PRIMARY;
    font-size: 2.2rem;
    font-weight: $GLOBAL-TEXT-WEIGHT;
    line-height: 3rem;

    &-container {
      @include flex-row-c-c;
      height: 100%;
      width: 80rem;
      border-radius: 0.6rem;

      &.light {
        color: $GLOBAL-TEXT-COLOR-LIGHT;
        background-color: $GLOBAL-BACKGROUND-LIGHT-TERTIARY;
      }

      &.dark {
        color: $GLOBAL-TEXT-COLOR-DARK;
        background-color: $GLOBAL-BACKGROUND-DARK-TERTIARY;
      }
    }
  }
}
