// COLORS - UTILITY
$COLOR_ISABELLINE: #f4f2ee;
$COLOR_BLACK_PRIMARY: #101010;
$COLOR_WHITE: #ffffff;
$COLOR_RED: #ff0000;
$COLOR_BLUE: #1300c2;

// COLORS - GLOBAL - COMPONENTS
$GLOBAL-LIGHT-BACKGROUND: $COLOR_ISABELLINE;

// COLORS - AUTH - COMPONENTS
$AUTH_BANNER_LIGHT_BACKGROUND: $COLOR_BLACK_PRIMARY;
$AUTH_BANNER_LIGHT_TEXT: $COLOR_WHITE;
