// COLORS - UTILITY
$COLOR_ISABELLINE: #f4f2ee;
$COLOR_BLACK_PRIMARY: #101010;
$COLOR_BLACK_SECONDARY: #34383d;
$COLOR_WHITE: #ffffff;
$COLOR_RED: #f00000;
$COLOR_BLUE: #1500cf;
$COLOR_GREEN: #03c10f;
$COLOR_GREY: #f0f2f5;
$COLOR_RED_LIGHT: #f8d7da;
$COLOR_RED_DARK: #58151c;
$COLOR_GREY_BLUE: #e2e3ed;

// COLORS - GLOBAL - COMPONENTS
$GLOBAL-LIGHT-BACKGROUND: $COLOR_ISABELLINE;

// COLORS - AUTH - COMPONENTS
$AUTH_BANNER_LIGHT_BACKGROUND: $COLOR_BLACK_PRIMARY;
$AUTH_BANNER_LIGHT_TEXT: $COLOR_WHITE;
$AUTH_INFO_GREEN_BACKGROUND: #d1e7dd;
$AUTH_INFO_GREEN_BORDER: #a3cfbb;
$AUTH_INFO_GREEN_TEXT: #0a3622;
$AUTH_INFO_RED_BACKGROUND: #f8d7da;
$AUTH_INFO_RED_BORDER: #f1aeb5;
$AUTH_INFO_RED_TEXT: #58151c;
$AUTH_INFO_BLACK_BACKGROUND: #ced4da;
$AUTH_INFO_BLACK_BORDER: #adb5bd;
$AUTH_INFO_BLACK_TEXT: #34383d;
$AUTH_INFO_YELLOW_BACKGROUND: #fff3cd;
$AUTH_INFO_YELLOW_BORDER: #ffe69c;
$AUTH_INFO_YELLOW_TEXT: #664d03;
$AUTH_INFO_ORANGERED_BACKGROUND: rgb(255, 226, 218);
$AUTH_INFO_ORANGERED_TEXT: orangered;

$BUTTON_BLUE_HOVER_BACKGROUND: #052c65;
$BUTTON_BLUE_TEXT: #052c65;
$BUTTON_BLUE_BACKGROUND: #cfe2ff;
$BUTTON_BLUE_HOVER_TEXT: #ffffff;
$BUTTON_BLUE_BORDER: #052c65;
