@mixin flex-row-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-null-c {
  display: flex;
  align-items: center;
}

@mixin flex-row-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-row-sb {
  display: flex;
  justify-content: space-between;
}

@mixin flex-col-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-col-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin font-p-p-600 {
  font-family: $GLOBAL-FONT-PRIMARY;
  font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
  font-weight: $GLOBAL-TEXT-WEIGHT;
}

@mixin font-p-p {
  font-family: $GLOBAL-FONT-PRIMARY;
  font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
}

@mixin font-p-s-600 {
  font-family: $GLOBAL-FONT-PRIMARY;
  font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
  font-weight: $GLOBAL-TEXT-WEIGHT;
}

@mixin font-p-s {
  font-family: $GLOBAL-FONT-PRIMARY;
  font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
}

@mixin font-p-t-600 {
  font-family: $GLOBAL-FONT-PRIMARY;
  font-size: $GLOBAL-TEXT-SIZE-TERTIARY;
  font-weight: $GLOBAL-TEXT-WEIGHT;
}
