/* GILROY FONT */
@font-face {
  font-family: GILROY_BLACK;
  src: url("./assets/fonts/Gilroy-Black.ttf");
}

/* TOAST STYLES */

.Toastify__toast--error {
  font-size: 1.5rem;
}
.Toastify__toast--success {
  font-size: 1.3rem;
}
