.header {
  margin-bottom: 2rem;

  &.light {
    background-color: $GLOBAL-BACKGROUND-LIGHT-SECONDARY;
  }

  &.dark {
    background-color: $GLOBAL-BACKGROUND-DARK-SECONDARY;
  }

  &__container {
    @include flex-row-sb-c;
    height: 8rem;

    &.light {
      background-color: $GLOBAL-BACKGROUND-LIGHT-SECONDARY;
    }

    &.dark {
      background-color: $GLOBAL-BACKGROUND-DARK-SECONDARY;
    }
  }

  &__logo {
    &-image {
      margin-top: 1rem;
      height: 7.2em;
    }
  }

  &__user {
    display: flex;
    position: relative;

    &-image {
      border-radius: 50%;
      overflow: hidden;
      height: 6rem;
      width: 6rem;
    }

    &-icons {
      margin-right: 2rem;
      font-size: 3.3rem;
      cursor: pointer;
    }
  }
}
