.home__menu {
  height: 100%;
  width: 25rem;
  max-width: 25rem;
  border-radius: 0.7rem;
  text-align: center;
  padding-bottom: 1rem;

  &.light {
    background-color: $GLOBAL-BACKGROUND-LIGHT-TERTIARY;
  }
  &.dark {
    background-color: $GLOBAL-BACKGROUND-DARK-TERTIARY;
  }

  &-cover {
    height: 100%;
    width: 25rem;
    max-width: 25rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
  }

  &-avatar {
    height: 6rem;
    width: 6rem;
    margin-top: -4rem;
    border-radius: 50%;

    &.light {
      border: 0.2rem solid $GLOBAL-BORDER-LIGHT;
    }

    &.dark {
      border: 0.2rem solid $GLOBAL-BORDER-DARK;
    }
  }

  &-follow {
    @include flex-row-null-c;
    justify-content: space-evenly;
    margin-block: -0.1rem 0.5rem;

    &-section {
      @include flex-col-c-c;
      cursor: pointer;
      padding: 0.2rem 1.5rem 0.6rem 1.5rem;
      border-radius: 0.6rem;

      &.light {
        color: $GLOBAL-TEXT-COLOR-LIGHT;

        &:hover {
          box-shadow: inset 24rem 0 0 0 $GLOBAL-HOVER-LIGHT;
          color: $GLOBAL-TEXT-COLOR-DARK;
          transition: $GLOBAL-HOVER-TRANSITION;
        }
      }

      &.dark {
        color: $GLOBAL-TEXT-COLOR-DARK;

        &:hover {
          box-shadow: inset 24rem 0 0 0 $GLOBAL-HOVER-DARK;
          color: $GLOBAL-TEXT-COLOR-DARK;
          transition: $GLOBAL-HOVER-TRANSITION;
        }
      }
    }

    &-number {
      font-size: 2.2rem;
      font-family: $GLOBAL-FONT-PRIMARY;
      font-weight: 1000;
    }

    &-text {
      font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
      font-family: $GLOBAL-FONT-PRIMARY;
      font-weight: $GLOBAL-TEXT-WEIGHT;
    }
  }

  &-text-primary {
    width: 100%;
    font-family: $GLOBAL-FONT-PRIMARY;
    font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
    font-weight: $GLOBAL-TEXT-WEIGHT;
    margin-top: 0.5rem;
    line-height: 2.5rem;
    word-break: break-word;
    padding-inline: 1rem;

    &.light {
      color: $GLOBAL-TEXT-COLOR-LIGHT;
    }
    &.dark {
      color: $GLOBAL-TEXT-COLOR-DARK;
    }
  }

  &-text-secondary {
    padding-inline: 1rem;
    width: 100%;
    text-align: center;
    font-family: $GLOBAL-FONT-PRIMARY;
    font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
    font-weight: $GLOBAL-TEXT-WEIGHT;
    margin-bottom: 1rem;
    line-height: 2rem;
    word-break: break-word;

    &.light {
      color: $GLOBAL-TEXT-COLOR-LIGHT;
    }
    &.dark {
      color: $GLOBAL-TEXT-COLOR-DARK;
    }
  }

  &-links {
    @include flex-row-null-c;
    width: auto;
    text-decoration: none;
    font-family: $GLOBAL-FONT-PRIMARY;
    font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
    font-weight: $GLOBAL-TEXT-WEIGHT;
    padding: 1rem;
    margin-inline: 1rem;
    border-radius: 0.6rem;

    &.light {
      color: $GLOBAL-TEXT-COLOR-LIGHT;

      &:hover {
        box-shadow: inset 24rem 0 0 0 $GLOBAL-HOVER-LIGHT;
        color: $GLOBAL-TEXT-COLOR-DARK;
        transition: $GLOBAL-HOVER-TRANSITION;
      }
    }

    &.dark {
      color: $GLOBAL-TEXT-COLOR-DARK;

      &:hover {
        box-shadow: inset 24rem 0 0 0 $GLOBAL-HOVER-DARK;
        color: $GLOBAL-TEXT-COLOR-DARK;
        transition: $GLOBAL-HOVER-TRANSITION;
      }
    }

    &--icon {
      width: 14%;
      font-size: 2.6rem;
    }

    &--text {
      margin-left: 1.5rem;
    }
  }

  &-text {
    padding: 0.5rem 1.8rem;
    text-align: center;
    font-family: $GLOBAL-FONT-PRIMARY;
    font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
    font-weight: $GLOBAL-TEXT-WEIGHT;
    line-height: 2.1rem;

    &.light {
      color: $GLOBAL-TEXT-COLOR-LIGHT;
    }
    &.dark {
      color: $GLOBAL-TEXT-COLOR-DARK;
    }
  }
}
