.user-menu {
  width: 25rem;
  position: absolute;
  padding: 1rem;
  margin-left: -24rem;
  margin-top: 3.5rem;
  border-radius: 0.6rem;
  background-color: $COLOR_WHITE;
  border: 0.1rem solid $COLOR_GREY;
  box-shadow: 0px 0px 0.2rem $COLOR_GREY;

  &__user {
    display: flex;
    width: 100%;
    column-gap: 1.5rem;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    margin-bottom: 1rem;

    &-image {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
    }
  }

  &__heading {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 1000;
    line-height: 2rem;
    word-break: break-word;
  }

  &__text {
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 1000;
    color: $COLOR_BLACK_SECONDARY;
  }

  &__links {
    display: flex;
    align-items: center;
    border-radius: 0.6rem;
    cursor: pointer;
    margin-block: 0.5rem;

    &:hover {
      background-color: $COLOR_BLACK_PRIMARY;
      color: $COLOR_WHITE;
    }

    &-icon {
      font-size: 2rem;
      width: 25%;
    }

    &-text {
      font-family: Poppins;
      font-size: 1.5rem;
      font-weight: 1000;
      padding: 1rem;
      width: 90%;
    }
  }
}

#sign-out {
  background-color: $COLOR_RED_LIGHT;
  color: $COLOR_RED;

  &:hover {
    background-color: $COLOR_RED;
    color: $COLOR_WHITE;
  }
}
