.user-menu {
  width: 25rem;
  position: absolute;
  padding: 1rem;
  margin-left: -25rem;
  margin-top: 3.5rem;
  border-radius: 0.6rem;

  &.light {
    background-color: $GLOBAL-BACKGROUND-LIGHT-TERTIARY;
    border: 0.1rem solid $GLOBAL-BORDER-LIGHT;
    box-shadow: 0px 0px 0.2rem $GLOBAL-BORDER-LIGHT;
  }

  &.dark {
    background-color: $GLOBAL-BACKGROUND-DARK-TERTIARY;
    border: 0.1rem solid $GLOBAL-BORDER-DARK;
    box-shadow: 0px 0px 0.2rem $GLOBAL-BORDER-DARK;
  }

  &__user {
    @include flex-row-null-c;
    width: 100%;
    column-gap: 1rem;
    cursor: pointer;
    line-height: 2.1rem;
    padding: 0.5rem;

    &-image {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
    }
  }

  &__info {
    &.light {
      color: $GLOBAL-TEXT-COLOR-LIGHT;
    }

    &.dark {
      color: $GLOBAL-TEXT-COLOR-DARK;
    }
  }

  &__heading {
    font-family: $GLOBAL-FONT-PRIMARY;
    font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
    font-weight: $GLOBAL-TEXT-WEIGHT;
    word-break: break-word;
  }

  &__text {
    font-family: $GLOBAL-FONT-PRIMARY;
    font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
    font-weight: $GLOBAL-TEXT-WEIGHT;
  }

  &__links {
    @include flex-row-null-c;
    border-radius: 0.6rem;
    cursor: pointer;
    margin-block: 0.5rem;
    transition: $GLOBAL-HOVER-TRANSITION;

    &.light {
      color: $GLOBAL-TEXT-COLOR-LIGHT;

      &:hover {
        background-color: $GLOBAL-HOVER-LIGHT;
        color: $GLOBAL-TEXT-COLOR-DARK;
      }
    }

    &.dark {
      color: $GLOBAL-TEXT-COLOR-DARK;

      &:hover {
        background-color: $GLOBAL-HOVER-DARK;
        color: $GLOBAL-TEXT-COLOR-DARK;
      }
    }

    &-icon {
      font-size: 2rem;
      width: 20%;
    }

    &-text {
      font-family: $GLOBAL-FONT-PRIMARY;
      font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
      font-weight: $GLOBAL-TEXT-WEIGHT;
      padding: 1rem;
      margin-top: -0.2rem;
    }
  }
}

#sign-out {
  &:hover {
    background-color: $GLOBAL-RED-PALETTE-LIGHT;
    color: $GLOBAL-RED-PALETTE-DARK;
  }
}
