.follow-list {
  height: 35rem;
  width: 35rem;
  border-radius: 1rem;

  &.light {
    background-color: $GLOBAL-BACKGROUND-LIGHT-TERTIARY;
    color: $GLOBAL-TEXT-COLOR-LIGHT;
    border: 0.1rem solid $GLOBAL-BORDER-LIGHT;
    box-shadow: 0px 0px 0.5rem $GLOBAL-BORDER-LIGHT;
  }

  &.dark {
    background-color: $GLOBAL-BACKGROUND-DARK-PRIMARY;
    color: $GLOBAL-TEXT-COLOR-DARK;
    border: 0.1rem solid $GLOBAL-BORDER-DARK;
    box-shadow: 0px 0px 0.5rem $GLOBAL-BORDER-DARK;
  }

  &__container {
    @include flex-row-c-c;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
  }

  &__header {
    @include flex-row-sb-c;
    padding: 0.8rem 1.5rem 0.8rem 2rem;

    &.light {
      border-bottom: 0.1rem solid $GLOBAL-BORDER-LIGHT;
    }

    &.dark {
      border-bottom: 0.1rem solid $GLOBAL-BORDER-LIGHT;
    }

    &-text {
      font-family: $GLOBAL-FONT-PRIMARY;
      font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
      font-weight: $GLOBAL-TEXT-WEIGHT;
    }

    &-btn {
      @include flex-row-c-c;
      background-color: transparent;
      border: none;
      border-radius: 50%;
      cursor: pointer;

      &-icon {
        font-size: 3rem;
        padding: 0.6rem;
        border-radius: 50%;

        &:hover {
          background-color: $GLOBAL-RED-PALETTE-LIGHT;
          color: $GLOBAL-RED-PALETTE-DARK;
          transition: $GLOBAL-HOVER-TRANSITION;
        }
      }
    }
  }

  &__body {
    list-style: none;
    max-height: 29.5rem;
    overflow-y: scroll;
    padding: 0rem 1rem;
    margin-top: 0.5rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    @include flex-row-sb-c;
    margin: 1rem 0.5rem;

    &-link {
      text-decoration: none;
    }

    &-section {
      @include flex-row-null-c;
      max-width: 22rem;
    }

    &-avatar {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
    }

    &-content {
      margin-left: 1rem;
      overflow: hidden;
      line-height: 2.1rem;

      &.light {
        color: $GLOBAL-TEXT-COLOR-LIGHT;
      }

      &.dark {
        color: $GLOBAL-TEXT-COLOR-DARK;
      }

      &-name {
        font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
        font-family: $GLOBAL-FONT-PRIMARY;
        font-weight: $GLOBAL-TEXT-WEIGHT;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-username {
        font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
        font-family: $GLOBAL-FONT-PRIMARY;
        font-weight: $GLOBAL-TEXT-WEIGHT;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-button {
      @include flex-row-c-c;
      cursor: pointer;
      background-color: transparent;
      border: none;
      border-radius: 50%;

      &.light {
        color: $GLOBAL-TEXT-COLOR-LIGHT;
      }

      &.dark {
        color: $GLOBAL-TEXT-COLOR-DARK;
      }

      &-icon {
        font-size: 3.5rem;
        padding: 0.5rem;
        border-radius: 50%;
      }

      &-container {
        @include flex-row-null-c;
        justify-content: space-evenly;
        column-gap: 0.5rem;
        max-width: 13rem;
      }
    }
  }
}

#follow-list__btn {
  &-green:hover {
    background-color: $AUTH_INFO_GREEN_BACKGROUND;
    color: $AUTH_INFO_GREEN_TEXT;
    transition: $GLOBAL-HOVER-TRANSITION;
  }

  &-red:hover {
    background-color: $GLOBAL-RED-PALETTE-LIGHT;
    color: $GLOBAL-RED-PALETTE-DARK;
    transition: $GLOBAL-HOVER-TRANSITION;
  }
}
