.follow-display {
  width: 28rem;
  max-height: 23.8rem;
  max-width: 28rem;
  list-style: none;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  overflow-y: scroll;

  &.light {
    background-color: $GLOBAL-BACKGROUND-LIGHT-TERTIARY;
  }

  &.dark {
    background-color: $GLOBAL-BACKGROUND-DARK-TERTIARY;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__heading {
    font-family: $GLOBAL-FONT-PRIMARY;
    font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
    font-weight: $GLOBAL-TEXT-WEIGHT;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    padding: 1.2rem 1.5rem;
    border-bottom: 0.1rem solid $GLOBAL-BORDER-LIGHT;

    &.light {
      background-color: $GLOBAL-BACKGROUND-LIGHT-TERTIARY;
      color: $GLOBAL-TEXT-COLOR-LIGHT;
    }

    &.dark {
      background-color: $GLOBAL-BACKGROUND-DARK-TERTIARY;
      color: $GLOBAL-TEXT-COLOR-DARK;
    }
  }

  &__list {
    @include flex-row-sb-c;
    margin-block: 1rem;

    &-link {
      text-decoration: none;
    }

    &-user {
      @include flex-row-null-c;
      max-width: 21.5rem;

      &.light {
        color: $GLOBAL-TEXT-COLOR-LIGHT;
      }

      &.dark {
        color: $GLOBAL-TEXT-COLOR-DARK;
      }

      &-details {
        margin-inline: 1rem;
        overflow: hidden;
        line-height: 2.2rem;
      }

      &-avatar {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
      }

      &-username {
        font-size: $GLOBAL-TEXT-SIZE-PRIMARY;
        font-family: $GLOBAL-FONT-PRIMARY;
        font-weight: $GLOBAL-TEXT-WEIGHT;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-name {
        font-size: $GLOBAL-TEXT-SIZE-SECONDARY;
        font-family: $GLOBAL-FONT-PRIMARY;
        font-weight: $GLOBAL-TEXT-WEIGHT;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &-button {
      height: 4rem;
      width: 4rem;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      background-color: transparent;

      &-container {
        @include flex-row-c-c;
        max-width: 9rem;
      }

      &-icon {
        font-size: 3.8rem;
        padding: 0.5rem;
        border-radius: 50%;

        &.light {
          color: $GLOBAL-ICON-COLOR-LIGHT;
        }

        &.dark {
          color: $GLOBAL-ICON-COLOR-DARK;
        }
      }
    }
  }
}

#follow-display__button {
  &-follow:hover {
    background-color: $GLOBAL-BLUE-PALETTE-LIGHT;
    color: $GLOBAL-BLUE-PALETTE-DARK;
    transition: $GLOBAL-HOVER-TRANSITION;
  }
  &-undo:hover {
    background-color: $GLOBAL-RED-PALETTE-LIGHT;
    color: $GLOBAL-RED-PALETTE-DARK;
    transition: $GLOBAL-HOVER-TRANSITION;
  }
}
