.follow-display {
  width: 28rem;
  max-height: 23.8rem;
  max-width: 28rem;
  list-style: none;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  background-color: $COLOR_WHITE;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__heading {
    background-color: $COLOR_WHITE;
    font-size: 1.65rem;
    font-weight: 600;
    font-family: $GLOBAL_FONT;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    padding: 1.2rem 1.5rem;
    border-bottom: 0.1rem solid $COLOR_GREY;
  }

  &__list {
    margin-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-link {
      text-decoration: none;
    }

    &-user {
      display: flex;
      align-items: center;
      max-width: 21.5rem;

      &-details {
        margin-inline: 1rem;
        overflow: hidden;
        line-height: 2.2rem;
      }

      &-avatar {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
      }

      &-username {
        font-size: 1.6rem;
        font-family: $GLOBAL_FONT;
        font-weight: 600;
        color: $COLOR_BLACK_SECONDARY;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-name {
        font-size: 1.22rem;
        font-family: $GLOBAL_FONT;
        color: $COLOR_BLACK_SECONDARY;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &-button {
      height: 4rem;
      width: 4rem;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      background-color: transparent;

      &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 9rem;
      }

      &-icon {
        font-size: 3.8rem;
        padding: 0.5rem;
        border-radius: 50%;
        color: $COLOR_BLACK_SECONDARY;
      }
    }
  }
}

#follow-display__button {
  &-follow:hover {
    background-color: $BUTTON_BLUE_BACKGROUND;
    color: $BUTTON_BLUE_TEXT;
    transition: $HOVER_TRANSITION;
  }
  &-undo:hover {
    background-color: $AUTH_INFO_RED_BACKGROUND;
    color: $AUTH_INFO_RED_TEXT;
    transition: $HOVER_TRANSITION;
  }
}
