.follow-list {
  height: 35rem;
  width: 35rem;
  background-color: $COLOR_WHITE;
  border: 0.1rem solid $COLOR_GREY;
  box-shadow: 0px 0px 0.5rem $COLOR_GREY;
  border-radius: 1rem;

  &__container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.5rem 0.8rem 2rem;
    border-bottom: 0.1rem solid $COLOR_GREY;

    &-text {
      font-family: $GLOBAL_FONT;
      font-size: 1.7rem;
      font-weight: 600;
    }

    &-btn {
      cursor: pointer;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      &-icon {
        font-size: 3rem;
        padding: 0.6rem;
        border-radius: 50%;

        &:hover {
          background-color: $AUTH_INFO_RED_BACKGROUND;
          color: $AUTH_INFO_RED_TEXT;
          transition: $HOVER_TRANSITION;
        }
      }
    }
  }

  &__body {
    list-style: none;
    max-height: 29.5rem;
    overflow-y: scroll;
    padding: 0rem 1rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0.5rem;

    &-link {
      text-decoration: none;
    }

    &-section {
      display: flex;
      align-items: center;
      max-width: 22rem;
    }

    &-avatar {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
    }

    &-content {
      margin-left: 1rem;
      overflow: hidden;
      line-height: 2.1rem;

      &-username {
        font-size: 1.35rem;
        font-family: $GLOBAL_FONT;
        font-weight: 600;
        color: $COLOR_BLACK_SECONDARY;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-name {
        font-size: 1.64rem;
        font-family: $GLOBAL_FONT;
        font-weight: 600;
        color: $COLOR_BLACK_SECONDARY;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      &-icon {
        font-size: 3.5rem;
        padding: 0.5rem;
        border-radius: 50%;
      }

      &-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        column-gap: 0.5rem;
        max-width: 13rem;
      }
    }
  }
}

#follow-list__btn {
  &-green:hover {
    background-color: $AUTH_INFO_GREEN_BACKGROUND;
    color: $AUTH_INFO_GREEN_TEXT;
    transition: $HOVER_TRANSITION;
  }

  &-red:hover {
    background-color: $AUTH_INFO_RED_BACKGROUND;
    color: $AUTH_INFO_RED_TEXT;
    transition: $HOVER_TRANSITION;
  }
}
