/*
    A. Variable names are defined using following format:

        1. Start: Module
        2. Middle: Element
        3. End: Theme / Type (Only for colors - Theme)
        4. Separated By: - (Hyphen)

        Example: $AUTH-BUTTON-DISABLED-LIGHT

        AUTH - Module
        BUTTON-DISABLED - Element
        LIGHT - Theme

    B. The variables are categorized on the basis of components:

        1. Auth - Module
        2. Form
        3. Banner
*/
.mtop-1-5 {
  margin-top: 1.5rem;
}

.mtop-1 {
  margin-top: 1rem;
}

.mtop-0-5 {
  margin-top: 0.5rem;
}

.mtop--1-5 {
  margin-top: 1.5rem;
}

.mtop--1 {
  margin-top: 1rem;
}

.mtop--0-5 {
  margin-top: 0.5rem;
}

.mbottom-1-5 {
  margin-bottom: 1.5rem;
}

.mbottom-1 {
  margin-bottom: 1rem;
}

.mbottom-0-5 {
  margin-bottom: 0.5rem;
}

.mtop--14-3 {
  margin-top: -14.3rem;
}

.mtop--16 {
  margin-top: -16rem;
}

.text-center {
  text-align: center;
}

.text-red {
  color: #f00000;
}

.mt-1 {
  margin-top: 1rem;
}

.bg-red-light {
  background-color: #f8d7da;
}

.c-red {
  color: #f00000;
}

.text-grey {
  color: #f0f2f5;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1-5 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mt--1-2 {
  margin-top: -1.2rem;
}

.mt--0-5 {
  margin-top: -0.5rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-0-5 {
  margin-top: 0.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html body::-webkit-scrollbar {
  display: none;
}

.body-format {
  margin: auto;
  width: 107rem;
}

.coming-soon {
  display: flex;
  justify-content: space-between;
}
.coming-soon__text {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #212529;
}
.coming-soon__text-container {
  width: 83rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  font-size: 4rem;
  cursor: pointer;
  border-radius: 50%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 40rem;
  margin-top: -40rem;
  margin-bottom: 5rem;
  padding: 3.5rem;
  border-radius: 1rem;
}
.auth-form.light {
  background-color: #ffffff;
}
.auth-form.dark {
  background-color: #222222;
}
.auth-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  column-gap: 2.5rem;
}
.auth-form__container-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.auth-form__tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.auth-form__heading {
  font-family: GILROY_BLACK;
  font-size: 4rem;
  margin-bottom: 2.5rem;
  margin-top: -1rem;
}
.auth-form__heading.light {
  color: #222222;
}
.auth-form__heading.dark {
  color: #ffffff;
}
.auth-form__text--info {
  color: #ff0000;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}
.auth-form__label {
  font-weight: 600;
  font-size: 1.65rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.auth-form__label.light {
  color: #222222;
}
.auth-form__label.dark {
  color: #ffffff;
}
.auth-form__label--required {
  color: #ff0000;
}
.auth-form__label--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auth-form__input {
  width: 100%;
  min-width: 33rem;
  margin-block: 0.8rem 1.5rem;
  padding: 1rem;
  font-size: 1.65rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  border-radius: 0.6rem;
  outline: none;
}
.auth-form__input.light {
  background-color: #ffffff;
  border: 0.2rem solid #222222;
  color: #222222;
}
.auth-form__input.dark {
  background-color: #222222;
  border: 0.2rem solid #555555;
  color: #ffffff;
}
.auth-form__input.dark:focus-within {
  border: 0.2rem solid #ffffff;
  transition: all 0.3s ease-in-out;
}
.auth-form__input--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 33rem;
}
.auth-form__input--container.dark:focus {
  border: 0.2rem solid #ffffff;
  transition: all 0.3s ease-in-out;
}
.auth-form__input--password {
  width: 27rem;
  font-size: 1.65rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  border: none;
  outline: none;
}
.auth-form__input--password.light {
  background-color: #ffffff;
  color: #222222;
}
.auth-form__input--password.dark {
  background-color: #222222;
  color: #ffffff;
}
.auth-form__input--password.dark:focus {
  transition: all 0.3s ease-in-out;
}
.auth-form__button {
  width: 100%;
  padding: 0.8rem 1rem 1.1rem 1rem;
  text-align: center;
  border-radius: 0.6rem;
  font-weight: 600;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  border: none;
}
.auth-form__button.light {
  background-color: #222222;
  color: #ffffff;
  border: 0.2rem solid #222222;
  transition: all 0.3s ease-in-out;
}
.auth-form__button.light:hover {
  background-color: #000000;
  border: 0.2rem solid #000000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.auth-form__button.light:disabled {
  background-color: #333333;
  border: 0.2rem solid #333333;
  cursor: not-allowed;
  transition: all 0.3s ease-in-out;
}
.auth-form__button.dark {
  background-color: #353535;
  color: #ffffff;
  border: 0.2rem solid #353535;
  transition: all 0.3s ease-in-out;
}
.auth-form__button.dark:hover {
  background-color: #222222;
  border: 0.2rem solid #555555;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.auth-form__button.dark:disabled {
  background-color: #444444;
  border: 0.2rem solid #444444;
  cursor: not-allowed;
  transition: all 0.3s ease-in-out;
}
.auth-form__button--text {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.65rem;
  font-weight: 600;
  text-align: right;
}
.auth-form__button--text.light {
  color: #222222;
}
.auth-form__button--text.dark {
  color: #ffffff;
}
.auth-form__icon--container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.auth-form__icon--container.light {
  color: #222222;
}
.auth-form__icon--container.dark {
  color: #ffffff;
}
.auth-form__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth-form__validation {
  border-radius: 0.6rem;
  padding: 1rem;
}
.auth-form__validation-section {
  display: flex;
  align-items: center;
}
.auth-form__validation-text {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 2.2rem;
  margin-top: -0.1rem;
}
.auth-form__validation-icon {
  font-size: 1.5rem;
  margin-top: 0.3rem;
  margin-inline: 0.5rem 1.2rem;
}
.auth-form__validation-green {
  background-color: #d1e7dd;
  border: 0.2rem solid #a3cfbb;
  color: #0a3622;
}
.auth-form__validation-red {
  background-color: #f8d7da;
  border: 0.2rem solid #f1aeb5;
  color: #58151c;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.auth-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  border-radius: 3rem;
  background-color: #000000;
}
.auth-banner__container {
  height: 100vh;
  padding: 3rem;
}
.auth-banner__text {
  margin-top: -12rem;
  font-family: GILROY_BLACK;
  font-size: 5.5vw;
  color: #ffffff;
  text-align: center;
  background-color: initial;
}

.auth-email {
  background: #f00000;
  background: -webkit-linear-gradient(to right, #dc281e, #f00000);
  background: linear-gradient(to right, #dc281e, #f00000);
  text-align: center;
  padding-block: 1rem 1.2rem;
  cursor: pointer;
}
.auth-email__text {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
  font-size: 1.65rem;
  font-weight: 550;
}

@keyframes ringing_bell {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
.header {
  margin-bottom: 2rem;
  background-color: #101010;
}
.header__container {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101010;
}
.header__logo-image {
  margin-top: 1rem;
  height: 7.2em;
}
.header__user {
  display: flex;
  align-items: center;
  position: relative;
}
.header__user-image {
  border-radius: 50%;
  overflow: hidden;
  height: 6rem;
  width: 6rem;
}
.header__user-icons {
  margin-right: 2rem;
  font-size: 3.3rem;
  cursor: pointer;
}

#header__noti:hover {
  animation-name: ringing_bell;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.user-menu {
  width: 25rem;
  position: absolute;
  padding: 1rem;
  margin-left: -25rem;
  margin-top: 3.5rem;
  border-radius: 0.6rem;
  background-color: #ffffff;
  border: 0.1rem solid #f0f2f5;
  box-shadow: 0px 0px 0.2rem #f0f2f5;
}
.user-menu__user {
  display: flex;
  width: 100%;
  column-gap: 1rem;
  align-items: center;
  cursor: pointer;
  line-height: 2.1rem;
  padding: 0.5rem;
}
.user-menu__user-image {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
.user-menu__heading {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.65rem;
  font-weight: 600;
  word-break: break-word;
}
.user-menu__text {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #212529;
}
.user-menu__links {
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  cursor: pointer;
  margin-block: 0.5rem;
  color: #212529;
}
.user-menu__links:hover {
  background-color: #212529;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.user-menu__links-icon {
  font-size: 2rem;
  width: 20%;
}
.user-menu__links-text {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.64rem;
  font-weight: 600;
  padding: 1rem;
  margin-top: -0.2rem;
}

#sign-out {
  background-color: #f8d7da;
  color: #f00000;
}
#sign-out:hover {
  background-color: #f00000;
  color: #ffffff;
}

.home__menu {
  height: 100%;
  width: 25rem;
  max-width: 25rem;
  border-radius: 0.7rem;
  text-align: center;
  padding-bottom: 1rem;
}
.home__menu.light {
  background-color: #ffffff;
}
.home__menu.dark {
  background-color: #222222;
}
.home__menu-cover {
  height: 100%;
  width: 25rem;
  max-width: 25rem;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}
.home__menu-avatar {
  height: 6rem;
  width: 6rem;
  margin-top: -4rem;
  border: 0.2rem solid #ffffff;
  border-radius: 50%;
}
.home__menu-follow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-block: -0.1rem 0.5rem;
}
.home__menu-follow-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.2rem 1.5rem 0.6rem 1.5rem;
  border-radius: 0.6rem;
}
.home__menu-follow-section.light {
  color: #000000;
}
.home__menu-follow-section.light:hover {
  box-shadow: inset 24rem 0 0 0 #222222;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.home__menu-follow-section.dark {
  color: #ffffff;
}
.home__menu-follow-section.dark:hover {
  color: #ffffff;
  box-shadow: inset 24rem 0 0 0 #444444;
  transition: all 0.3s ease-in-out;
}
.home__menu-follow-number {
  font-size: 2rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 1000;
}
.home__menu-follow-text {
  font-size: 1.4rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
.home__menu-text-primary {
  width: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 0.5rem;
  line-height: 2.5rem;
  word-break: break-word;
  padding-inline: 1rem;
}
.home__menu-text-primary.light {
  color: #333333;
}
.home__menu-text-primary.dark {
  color: #f4f2ee;
}
.home__menu-text-secondary {
  padding-inline: 1rem;
  width: 100%;
  text-align: center;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.45rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 2rem;
  word-break: break-word;
}
.home__menu-text-secondary.light {
  color: #333333;
}
.home__menu-text-secondary.dark {
  color: #f4f2ee;
}
.home__menu-links {
  display: flex;
  align-items: center;
  width: auto;
  color: #101010;
  text-decoration: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding: 1rem;
  margin-inline: 1rem;
  border-radius: 0.6rem;
}
.home__menu-links.light {
  color: #000000;
}
.home__menu-links.light:hover {
  box-shadow: inset 24rem 0 0 0 #222222;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.home__menu-links.dark {
  color: #ffffff;
}
.home__menu-links.dark:hover {
  color: #ffffff;
  box-shadow: inset 24rem 0 0 0 #444444;
  transition: all 0.3s ease-in-out;
}
.home__menu-links--icon {
  width: 14%;
  font-size: 2.6rem;
}
.home__menu-links--text {
  font-size: 1.6rem;
  margin-left: 1.5rem;
}
.home__menu-text {
  padding: 0.5rem 1.8rem;
  text-align: center;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 2.1rem;
}
.home__menu-text.light {
  color: #333333;
}
.home__menu-text.dark {
  color: #f4f2ee;
}

.home__display {
  height: 60rem;
  width: 28rem;
  max-width: 28rem;
  display: flex;
  flex-direction: column;
}

.edit-profile-form {
  margin-top: 4rem;
  margin-inline: 2rem;
}
.edit-profile-form__container {
  height: auto;
  width: 100%;
  padding: 3.5rem 3rem;
  border-radius: 0.6rem;
}
.edit-profile-form__heading {
  font-size: 4.5rem;
  font-family: GILROY_BOLD;
}

.profile-form {
  margin-top: 3rem;
}
.profile-form__container {
  height: auto;
  width: 100%;
  padding: 3rem 4rem;
  border-radius: 0.6rem;
}
.profile-form__heading {
  font-size: 4.2rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.profile-form__heading.light {
  color: #222222;
}
.profile-form__heading.dark {
  color: #ffffff;
}
.profile-form__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-form__section-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-form__label {
  font-weight: 600;
  font-size: 1.65rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.profile-form__label.light {
  color: #222222;
}
.profile-form__label.dark {
  color: #ffffff;
}
.profile-form__label--required {
  color: #ff0000;
}
.profile-form__label--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-form__input {
  min-width: 30rem;
  max-width: 30rem;
  margin-block: 0.8rem 1.5rem;
  padding: 1rem;
  font-size: 1.65rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  border-radius: 0.6rem;
  outline: none;
}
.profile-form__input.light {
  background-color: #ffffff;
  border: 0.2rem solid #222222;
  color: #222222;
}
.profile-form__input.dark {
  background-color: #222222;
  border: 0.2rem solid #555555;
  color: #ffffff;
}
.profile-form__input.dark:focus-within {
  border: 0.2rem solid #ffffff;
  transition: all 0.3s ease-in-out;
}
.profile-form__input--full {
  width: 100%;
  margin-block: 0.8rem 1.5rem;
  resize: vertical;
  padding: 1rem;
  line-height: 2.4rem;
  font-size: 1.65rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  border-radius: 0.6rem;
  outline: none;
}
.profile-form__input--full.light {
  background-color: #ffffff;
  border: 0.2rem solid #222222;
  color: #222222;
}
.profile-form__input--full.dark {
  background-color: #222222;
  border: 0.2rem solid #555555;
  color: #ffffff;
}
.profile-form__input--full.dark:focus-within {
  border: 0.2rem solid #ffffff;
  transition: all 0.3s ease-in-out;
}
.profile-form__button {
  width: fit-content;
  padding: 0.8rem 1rem 1.1rem 1rem;
  text-align: center;
  border-radius: 0.6rem;
  font-weight: 600;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  border: none;
  margin-top: 0.5rem;
}
.profile-form__button.light {
  background-color: #222222;
  color: #ffffff;
  border: 0.2rem solid #222222;
  transition: all 0.3s ease-in-out;
}
.profile-form__button.light:hover {
  background-color: #000000;
  border: 0.2rem solid #000000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.profile-form__button.light:disabled {
  background-color: #333333;
  border: 0.2rem solid #333333;
  cursor: not-allowed;
  transition: all 0.3s ease-in-out;
}
.profile-form__button.dark {
  background-color: #353535;
  color: #ffffff;
  border: 0.2rem solid #353535;
  transition: all 0.3s ease-in-out;
}
.profile-form__button.dark:hover {
  background-color: #222222;
  border: 0.2rem solid #555555;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.profile-form__button.dark:disabled {
  background-color: #444444;
  border: 0.2rem solid #444444;
  cursor: not-allowed;
  transition: all 0.3s ease-in-out;
}

.create-post {
  height: auto;
  width: 100%;
  padding-inline: 1.5rem;
  padding-block: 1.5rem 1rem;
  border-radius: 0.6rem;
  background-color: #ffffff;
}
.create-post__top {
  display: flex;
  width: 100%;
}
.create-post__top-image {
  height: 6rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.create-post__top-textarea {
  height: 10rem;
  min-height: 12rem;
  width: 100%;
  padding: 0.3rem 0.8rem;
  overflow-y: visible;
  border: none;
  outline: none;
  resize: vertical;
  font-size: 1.55rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}
.create-post__top-textarea::-webkit-scrollbar {
  width: 1rem;
}
.create-post__top-textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.create-post__top-textarea::-webkit-scrollbar-thumb {
  background: #888;
}
.create-post__top-textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.create-post__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.create-post__media {
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 0.5rem;
}
.create-post__media-icons {
  font-size: 3.5rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  color: #212529;
}
.create-post__media-icons:hover {
  background-color: #ced4da;
  color: #34383d;
  transition: all 0.3s ease-in-out;
}
.create-post__media-input {
  display: none;
}
.create-post__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.create-post__button-icon {
  color: #212529;
  font-size: 3.4rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  margin-top: -0.1rem;
}
.create-post__button-icon:hover {
  background-color: rgb(255, 226, 218);
  color: orangered;
  transition: all 0.3s ease-in-out;
}

.post {
  width: 100%;
  margin-block: 2rem;
  padding: 1rem 1.5rem;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 0.6rem;
}
.post__none {
  margin: 3rem 1rem;
  text-align: center;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #212529;
}
.post__header {
  margin-block: 0.5rem;
  display: flex;
  align-items: top;
  justify-content: space-between;
  position: relative;
  padding-bottom: 0.5rem;
}
.post__header-user {
  display: flex;
  align-items: center;
  line-height: 2.1rem;
}
.post__header-user-image {
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.post__header-user-name {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 1.65rem;
}
.post__header-user-date {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 1.26rem;
  color: #212529;
}
.post__header-options {
  font-size: 3rem;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #f0f2f5;
  border-radius: 50%;
  font-weight: 600;
}
.post__header-options:hover {
  background-color: #212529;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.post__header-options-menu {
  margin-top: 3.5rem;
  position: absolute;
  padding: 0.5rem;
  right: 0;
  border-radius: 0.6rem;
  background-color: #ffffff;
  border: 0.1rem solid #f0f2f5;
  box-shadow: 0px 0px 1rem #f0f2f5;
  z-index: 1;
}
.post__header-options-section {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  color: #212529;
  border-radius: 0.6rem;
}
.post__header-options-section:hover {
  background-color: #212529;
  color: #ffffff;
  font-weight: 1000;
  transition: all 0.3s ease-in-out;
}
.post__header-options-text {
  font-size: 1.3rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 640;
  margin-left: 1rem;
  margin-top: -0.2rem;
}
.post__header-options-icon {
  width: 15%;
  font-size: 2rem;
}
.post__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.post__body-text {
  font-size: 1.6rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding-inline: 1rem;
  line-height: 2.2rem;
  overflow-wrap: break-word;
  width: 100%;
}
.post__body-media {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40rem;
  overflow: hidden;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.6rem;
  padding-block: 0.2rem;
  position: relative;
}
.post__body-media-info {
  position: absolute;
  background-color: rgba(50, 50, 50, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 50;
}
.post__body-media-info--text {
  font-family: GILROY_BLACK;
  font-size: 8rem;
  color: white;
}
.post__body-media-item-1 {
  max-height: 35rem;
  max-width: 100%;
  border-radius: 0.6rem;
  object-fit: contain;
}
.post__body-media-item-2 {
  height: 20rem;
  max-width: 48%;
  border-radius: 0.6rem;
  object-fit: cover;
}
.post__body-media-item-3 {
  height: 15rem;
  max-width: 48%;
  border-radius: 0.6rem;
  object-fit: cover;
}
.post__body-media-item-4 {
  height: 19.5rem;
  width: 48%;
  border-radius: 0.6rem;
  object-fit: cover;
}
.post__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.post__footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212529;
  cursor: pointer;
}
.post__footer-text {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 1rem;
}
.post__footer-icons-primary {
  font-size: 3.5rem;
  padding: 0.5rem;
  border-radius: 50%;
}
.post__footer-icons-secondary {
  font-size: 3.5em;
  padding: 0.7rem;
  border-radius: 50%;
}

#post__reaction:hover {
  color: #f00000;
  transform: scale(105%);
  transition: all 0.3s ease-in-out;
  background-color: #f8d7da;
}

#post__comment:hover {
  color: #052c65;
  transform: scale(101%);
  transition: all 0.3s ease-in-out;
  background-color: #cfe2ff;
}

#post__repost:hover {
  color: #664d03;
  transform: scale(101%);
  transition: all 0.3s ease-in-out;
  background-color: #fff3cd;
}

#post__quote:hover {
  color: #0a3622;
  transform: scale(101%);
  transition: all 0.3s ease-in-out;
  background-color: #d1e7dd;
}

#post__bookmark:hover {
  color: orangered;
  transform: scale(101%);
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 226, 218);
}

#post__options-delete:hover {
  transition: all 0.3s ease-in-out;
  background-color: #f00000;
  color: #ffffff;
}

.comment {
  margin-top: 0.5rem;
  list-style: none;
  max-height: 32rem;
  overflow-y: scroll;
}
.comment::-webkit-scrollbar {
  display: none;
}
.comment__menu {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.comment__menu-container {
  position: relative;
}
.comment__menu-icon {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0.3rem;
  color: #212529;
  background-color: #f0f2f5;
  border-radius: 50%;
}
.comment__menu-icon:hover {
  background-color: #212529;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.comment__menu-items {
  padding: 0.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 0.6rem;
  border: 0.1rem solid #f0f2f5;
  box-shadow: 0px 0px 1rem #f0f2f5;
  z-index: 1;
  top: 0;
  margin-top: 2.7rem;
  width: 14.7rem;
  right: 0;
  color: #212529;
}
.comment__menu-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.6rem;
  width: 100%;
}
.comment__menu-item:hover {
  background-color: #212529;
  color: #ffffff;
  font-weight: 1000;
  transition: all 0.3s ease-in-out;
}
.comment__menu-item-icon {
  font-size: 1.5rem;
}
.comment__menu-item-text {
  font-size: 1.3rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 640;
  margin-left: 1rem;
  margin-top: -0.2rem;
}
.comment__list {
  margin-block: 1rem;
}
.comment__list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment__list-header-user {
  display: flex;
  align-items: center;
}
.comment__list-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  line-height: 2rem;
}
.comment__list-user-name {
  font-size: 1.5rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #101010;
}
.comment__list-user-username {
  font-size: 1.35rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #212529;
}
.comment__list-avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.comment__list-body {
  margin-left: 5rem;
  margin-top: 0.8rem;
  padding: 1rem;
  background-color: #f0f2f5;
  border-radius: 0.6rem;
}
.comment__list-content {
  overflow-wrap: break-word;
  font-size: 1.45rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 480;
  text-align: justify;
}
.comment__list-date {
  font-size: 1.2rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #212529;
  margin-top: 0.8rem;
}
.comment__list-footer {
  margin-left: 5rem;
  margin-block: 0.1rem 1.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
.comment__list-footer-icons-primary {
  padding: 0.3rem;
  font-size: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
}
.comment__list-footer-icons-secondary {
  padding: 0.4rem;
  font-size: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
}
.comment__list-footer-text {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.35rem;
  font-weight: 500;
  margin-right: 1rem;
}
.comment__toggle {
  color: #052c65;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 0.5rem;
  margin-bottom: 0;
  cursor: pointer;
}

#comment__reaction:hover {
  color: #f00000;
  transform: scale(105%);
  transition: all 0.3s ease-in-out;
  background-color: #f8d7da;
}
#comment__reply:hover {
  color: #052c65;
  transform: scale(101%);
  transition: all 0.3s ease-in-out;
  background-color: #cfe2ff;
}
#comment__quote:hover {
  color: #0a3622;
  transform: scale(101%);
  transition: all 0.3s ease-in-out;
  background-color: #d1e7dd;
}
#comment__pin:hover {
  color: orangered;
  transform: scale(101%);
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 226, 218);
}
#comment__menu-delete:hover {
  transition: all 0.3s ease-in-out;
  background-color: #f00000;
  color: #ffffff;
}

.reply {
  list-style: none;
  max-height: 32rem;
  overflow-y: scroll;
  margin-left: 5rem;
}
.reply::-webkit-scrollbar {
  display: none;
}
.reply__update {
  margin-left: 5rem;
}
.reply__menu {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.reply__menu-container {
  position: relative;
}
.reply__menu-icon {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0.3rem;
  color: #212529;
  background-color: #f0f2f5;
  border-radius: 50%;
}
.reply__menu-icon:hover {
  background-color: #212529;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.reply__menu-items {
  padding: 0.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 0.6rem;
  border: 0.1rem solid #f0f2f5;
  box-shadow: 0px 0px 1rem #f0f2f5;
  z-index: 1;
  top: 0;
  margin-top: 2.7rem;
  width: 12.1rem;
  right: 0;
  color: #212529;
}
.reply__menu-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.6rem;
  width: 100%;
}
.reply__menu-item:hover {
  background-color: #212529;
  color: #ffffff;
  font-weight: 1000;
  transition: all 0.3s ease-in-out;
}
.reply__menu-item-icon {
  font-size: 1.5rem;
}
.reply__menu-item-text {
  font-size: 1.3rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 640;
  margin-left: 1rem;
  margin-top: -0.2rem;
}
.reply__list {
  margin-block: 1rem;
}
.reply__list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reply__list-header-user {
  display: flex;
  align-items: center;
}
.reply__list-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  line-height: 2rem;
}
.reply__list-user-name {
  font-size: 1.5rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #101010;
}
.reply__list-user-username {
  font-size: 1.35rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #212529;
}
.reply__list-avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.reply__list-body {
  margin-left: 5rem;
  margin-top: 0.8rem;
  padding: 1rem;
  background-color: #f0f2f5;
  border-radius: 0.6rem;
}
.reply__list-content {
  overflow-wrap: break-word;
  font-size: 1.45rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 480;
  text-align: justify;
}
.reply__list-date {
  font-size: 1.2rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #212529;
  margin-top: 0.8rem;
}
.reply__list-footer {
  margin-left: 5rem;
  margin-block: 0.1rem 1.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
.reply__list-footer-icons-primary {
  padding: 0.3rem;
  font-size: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
}
.reply__list-footer-icons-secondary {
  padding: 0.4rem;
  font-size: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
}
.reply__list-footer-text {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.35rem;
  font-weight: 500;
  margin-right: 1rem;
}
.reply__toggle {
  color: #052c65;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 5rem;
  margin-bottom: 0;
  cursor: pointer;
}

#reply__reaction:hover {
  color: #f00000;
  transform: scale(105%);
  transition: all 0.3s ease-in-out;
  background-color: #f8d7da;
}
#reply__reply:hover {
  color: #052c65;
  transform: scale(101%);
  transition: all 0.3s ease-in-out;
  background-color: #cfe2ff;
}
#reply__quote:hover {
  color: #0a3622;
  transform: scale(101%);
  transition: all 0.3s ease-in-out;
  background-color: #d1e7dd;
}
#reply__menu-delete:hover {
  transition: all 0.3s ease-in-out;
  background-color: #f00000;
  color: #ffffff;
}

.create-comment {
  background-color: #f0f2f5;
  border-radius: 0.6rem;
  width: 42rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0.3rem 0.6rem 0.3rem;
}
.create-comment__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding-block: 1rem 0.2rem;
  border-top: 0.1rem solid #f0f2f5;
}
.create-comment__user {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.create-comment__input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 35rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  word-wrap: break-word;
  padding-left: 0.5rem;
}
.create-comment__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  outline: none;
  margin-bottom: -0.4rem;
}
.create-comment__button-icon {
  color: #212529;
  font-size: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  margin-top: -0.1rem;
}
.create-comment__button-icon:hover {
  color: orangered;
  background-color: rgb(255, 226, 218);
  transition: all 0.3s ease-in-out;
}

.create-reply {
  background-color: #f0f2f5;
  border-radius: 0.6rem;
  width: 37rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0.3rem 0.6rem 0.3rem;
}
.create-reply__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-left: 5rem;
}
.create-reply__user {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.create-reply__input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 33rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  word-wrap: break-word;
  padding-left: 0.5rem;
}
.create-reply__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  outline: none;
  margin-bottom: -0.4rem;
}
.create-reply__button-icon {
  color: #212529;
  font-size: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  margin-top: -0.1rem;
}
.create-reply__button-icon:hover {
  color: orangered;
  background-color: rgb(255, 226, 218);
  transition: all 0.3s ease-in-out;
}

.follow-list {
  height: 35rem;
  width: 35rem;
  background-color: #ffffff;
  border: 0.1rem solid #f0f2f5;
  box-shadow: 0px 0px 0.5rem #f0f2f5;
  border-radius: 1rem;
}
.follow-list__container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.follow-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.5rem 0.8rem 2rem;
  border-bottom: 0.1rem solid #f0f2f5;
}
.follow-list__header-text {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}
.follow-list__header-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.follow-list__header-btn-icon {
  font-size: 3rem;
  padding: 0.6rem;
  border-radius: 50%;
}
.follow-list__header-btn-icon:hover {
  background-color: #f8d7da;
  color: #58151c;
  transition: all 0.3s ease-in-out;
}
.follow-list__body {
  list-style: none;
  max-height: 29.5rem;
  overflow-y: scroll;
  padding: 0rem 1rem;
}
.follow-list__body::-webkit-scrollbar {
  display: none;
}
.follow-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0.5rem;
}
.follow-list__item-link {
  text-decoration: none;
}
.follow-list__item-section {
  display: flex;
  align-items: center;
  max-width: 22rem;
}
.follow-list__item-avatar {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}
.follow-list__item-content {
  margin-left: 1rem;
  overflow: hidden;
  line-height: 2.1rem;
}
.follow-list__item-content-username {
  font-size: 1.35rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: #212529;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.follow-list__item-content-name {
  font-size: 1.64rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: #212529;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.follow-list__item-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.follow-list__item-button-icon {
  font-size: 3.5rem;
  padding: 0.5rem;
  border-radius: 50%;
}
.follow-list__item-button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 0.5rem;
  max-width: 13rem;
}

#follow-list__btn-green:hover {
  background-color: #d1e7dd;
  color: #0a3622;
  transition: all 0.3s ease-in-out;
}
#follow-list__btn-red:hover {
  background-color: #f8d7da;
  color: #58151c;
  transition: all 0.3s ease-in-out;
}

.follow-display {
  width: 28rem;
  max-height: 23.8rem;
  max-width: 28rem;
  list-style: none;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  background-color: #ffffff;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  overflow-y: scroll;
}
.follow-display::-webkit-scrollbar {
  display: none;
}
.follow-display__heading {
  background-color: #ffffff;
  font-size: 1.65rem;
  font-weight: 600;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  padding: 1.2rem 1.5rem;
  border-bottom: 0.1rem solid #f0f2f5;
}
.follow-display__list {
  margin-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.follow-display__list-link {
  text-decoration: none;
}
.follow-display__list-user {
  display: flex;
  align-items: center;
  max-width: 21.5rem;
}
.follow-display__list-user-details {
  margin-inline: 1rem;
  overflow: hidden;
  line-height: 2.2rem;
}
.follow-display__list-user-avatar {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}
.follow-display__list-user-username {
  font-size: 1.6rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: #212529;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.follow-display__list-user-name {
  font-size: 1.22rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #212529;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.follow-display__list-button {
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}
.follow-display__list-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 9rem;
}
.follow-display__list-button-icon {
  font-size: 3.8rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: #212529;
}

#follow-display__button-follow:hover {
  background-color: #cfe2ff;
  color: #052c65;
  transition: all 0.3s ease-in-out;
}
#follow-display__button-undo:hover {
  background-color: #f8d7da;
  color: #58151c;
  transition: all 0.3s ease-in-out;
}

.follow-request {
  position: relative;
}
.follow-request__text {
  font-family: GILROY_BOLD;
  font-size: 1.2rem;
  color: COLOR_WHITE;
}
.follow-request__text-container {
  top: 0;
  right: 0.5rem;
  position: absolute;
  padding: 0.3rem;
  background-color: #f00000;
}

.home-page {
  height: 84vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.home-page::-webkit-scrollbar {
  display: none;
}

.auth {
  position: relative;
}
.auth.light {
  background-color: #f4f2ee;
}
.auth.dark {
  background-color: #333333;
}
.auth__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.auth__theme {
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
}

.home {
  height: 100vh;
  position: relative;
}
.home.light {
  background-color: #f4f2ee;
}
.home.dark {
  background-color: #333333;
}
.home__sections {
  display: flex;
}
.home__sections-outlet {
  margin-inline: 2rem;
  width: 50rem;
  max-width: 50rem;
}
.home__theme {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.edit-profile {
  position: relative;
}
.edit-profile.light {
  background-color: #f4f2ee;
}
.edit-profile.dark {
  background-color: #333333;
}
.edit-profile__theme {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.edit-profile__header {
  display: flex;
  justify-content: space-between;
  height: 32rem;
  width: 100%;
  padding: 5rem 6rem;
  color: #ffffff;
  background-color: #000000;
}
.edit-profile__header-text {
  font-size: 9rem;
  font-family: GILROY_BLACK;
}
.edit-profile__header-btn {
  position: absolute;
  right: 6rem;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}
.edit-profile__sections {
  display: flex;
  justify-content: space-between;
  margin-top: -6.25rem;
  margin-inline: 27rem;
  padding-bottom: 2rem;
}
.edit-profile__menu {
  height: 100%;
  width: 25rem;
  max-width: 25rem;
  border-radius: 0.8rem;
  text-align: center;
  margin-bottom: 2rem;
}
.edit-profile__menu.light {
  background-color: #ffffff;
}
.edit-profile__menu.dark {
  background-color: #222222;
}
.edit-profile__menu-cover {
  height: 6.25rem;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}
.edit-profile__menu-avatar {
  height: 7.5rem;
  margin-top: -4rem;
  border: 0.2rem solid #ffffff;
  border-radius: 50%;
}
.edit-profile__menu-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-inline: 1.5rem;
  margin-block: 1rem;
}
.edit-profile__menu-link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.8rem 1rem 1rem 1rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 0.6rem;
  margin-block: 0.1rem;
}
.edit-profile__menu-link.light {
  color: #000000;
}
.edit-profile__menu-link.light:hover {
  box-shadow: inset 24rem 0 0 0 #222222;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.edit-profile__menu-link.dark {
  color: #ffffff;
}
.edit-profile__menu-link.dark:hover {
  color: #ffffff;
  box-shadow: inset 24rem 0 0 0 #444444;
  transition: all 0.3s ease-in-out;
}
.edit-profile__menu-link--icon {
  width: 14%;
  font-size: 2.6rem;
}
.edit-profile__menu-link--text {
  width: 75%;
  text-align: left;
  margin-left: 1.5rem;
  font-size: 1.6rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
.edit-profile__form {
  height: 100%;
  width: 72rem;
  border-radius: 0.6rem;
}
.edit-profile__form.light {
  background-color: #ffffff;
  color: #000000;
}
.edit-profile__form.dark {
  background-color: #222222;
  color: #ffffff;
}
