* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
html body {
  background-color: #f4f2ee;
}
html body::-webkit-scrollbar {
  display: none;
}

.body-format {
  margin: auto;
  width: 115rem;
}

.text-center {
  text-align: center;
}

.text-red {
  color: #ea1b1b;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1-5 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mt--1-5 {
  margin-top: -1.5rem;
}

.mt--0-5 {
  margin-top: -0.5rem;
}

.mr-2 {
  margin-right: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.form {
  height: fit-content;
  width: fit-content;
  min-width: 42rem;
  margin-top: -11rem;
  margin-bottom: 1rem;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2rem;
}
.form__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.form__tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.form__heading {
  font-family: GILROY_EXTRABOLD;
  font-size: 4.5rem;
  margin-bottom: 3rem;
}
.form__label {
  font-weight: 1000;
  font-size: 1.5rem;
  font-family: Poppins;
}
.form__label-required {
  color: #ea1b1b;
}
.form__input {
  margin-block: 0.6rem 2rem;
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 1000;
  color: #101010;
  border-radius: 0.6rem;
  border: 0.2rem solid #101010;
  outline: none;
}
.form__input-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form__input-primary {
  width: 35rem;
}
.form__input-password {
  width: 30rem;
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 1000;
  color: #101010;
  border: none;
  outline: none;
}
.form__input-info {
  padding: 1rem;
  background-color: #d1e7dd;
  color: #0a3622;
  border: 0.2rem solid #a3cfbb;
  border-radius: 0.6rem;
}
.form__button {
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
  text-align: center;
  color: #ffffff;
  background-color: #101010;
  cursor: pointer;
  border-radius: 1rem;
  border: 0.2rem solid #101010;
}
.form__button-primary {
  width: 100%;
  min-width: 35rem;
  font-weight: 1000;
  font-family: Poppins;
  font-size: 1.7rem;
}
.form__button-secondary {
  width: fit-content;
  font-weight: 1000;
  font-family: Poppins;
  font-size: 1.7rem;
}
.form__button-password {
  position: absolute;
  margin-right: 1rem;
  margin-top: 0.5rem;
  font-size: 2.3rem;
  background-color: #ffffff;
  right: 0;
  border: none;
  cursor: pointer;
}
.form__button-text {
  width: fit-content;
  background-color: #ffffff;
  color: #1500cf;
  font-weight: 1000;
  font-family: Poppins;
  font-size: 1.55rem;
  border: none;
  cursor: pointer;
}
.form__button-state {
  width: 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 4rem;
}
.form__button-emoji {
  position: absolute;
  font-size: 1.9rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__social {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__social-image {
  margin-inline: 1rem;
  height: 5rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
.form__text-primary {
  font-size: 1.65rem;
  font-weight: 1000;
  font-family: GILROY_BOLD;
}
.form__text-secondary {
  font-size: 1.4rem;
  font-weight: 1000;
  font-family: GILROY_BOLD;
}
.form__text-tertiary {
  font-size: 1.2rem;
  font-weight: 1000;
  font-family: GILROY_BOLD;
}
.form__emoji {
  font-size: 3rem;
  margin-top: 1rem;
  cursor: pointer;
  text-align: right;
}

.auth-banner {
  height: 40rem;
  width: 100%;
  background-color: #101010;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.auth-banner__text {
  margin-top: -12rem;
  font-family: GILROY_BLACK;
  font-weight: 1000;
  font-size: 5.5vw;
  color: #ffffff;
}

.auth {
  margin: 3rem;
}
