* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
html body {
  background-color: #f4f2ee;
}
html body::-webkit-scrollbar {
  display: none;
}

.body-format {
  margin: auto;
  width: 115rem;
}

.auth-banner {
  height: 40rem;
  width: 100%;
  background-color: #101010;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.auth-banner__text {
  margin-top: -15rem;
  font-family: GILROY_BLACK;
  font-weight: 1000;
  font-size: 8rem;
  color: #ffffff;
}

.auth {
  margin: 3rem;
}
