$AUTH-FORM-BORDER-LIGHT: #222222;
$AUTH-FORM-BORDER-DARK: #555555;
$AUTH-BUTTON-DISABLED-LIGHT: #333333;
$AUTH-BUTTON-ENABLED-LIGHT: #222222;
$AUTH-BUTTON-HOVER-LIGHT: #000000;
$AUTH-BUTTON-DISABLED-DARK: #444444;
$AUTH-BUTTON-ENABLED-DARK: #353535;
