// Global Variables
$GLOBAL-HOVER-TRANSITION: all 0.3s ease-in-out;
$GLOBAL-BACKGROUND-LIGHT: #f4f2ee;
$GLOBAL-BACKGROUND-DARK: #333333;

// Toogle Theme Component
$GLOBAL-THEME-TOGGLE-BACKGROUND-LIGHT: #000000;
$GLOBAL-THEME-TOGGLE-BACKGROUND-DARK: #ffffff;
