// Global Variables
$GLOBAL-BACKGROUND-LIGHT: #f4f2ee;
$GLOBAL-BACKGROUND-DARK: #333333;

// Toogle Theme Component
$GLOBAL-THEME-TOGGLE-BACKGROUND-LIGHT: #000000;
$GLOBAL-THEME-TOGGLE-BACKGROUND-DARK: #ffffff;

// -------------------------------------------------------------------------------

// BACKGROUND
$GLOBAL-BACKGROUND-LIGHT-PRIMARY: #f4f2ee;
$GLOBAL-BACKGROUND-LIGHT-SECONDARY: #111111;
$GLOBAL-BACKGROUND-LIGHT-TERTIARY: #ffffff;
$GLOBAL-BACKGROUND-DARK-PRIMARY: #333333;
$GLOBAL-BACKGROUND-DARK-SECONDARY: #111111;
$GLOBAL-BACKGROUND-DARK-TERTIARY: #222222;

// HOVER
$GLOBAL-HOVER-LIGHT: #1a1d20;
$GLOBAL-HOVER-DARK: #444444;

// BORDER
$GLOBAL-BORDER-LIGHT: #f0f2f5;
$GLOBAL-BORDER-DARK: #202020;

// FONTS
$GLOBAL-FONT-PRIMARY: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$GLOBAL-FONT-SECONDARY: GILROY_BLACK;

// TEXT
$GLOBAL-TEXT-COLOR-LIGHT: #000000;
$GLOBAL-TEXT-COLOR-DARK: #ffffff;
$GLOBAL-TEXT-SIZE-PRIMARY: 1.65rem;
$GLOBAL-TEXT-SIZE-SECONDARY: 1.4rem;
$GLOBAL-TEXT-WEIGHT: 600;

// PALETTE
$GLOBAL-RED-PALETTE-LIGHT: #f8d7da;
$GLOBAL-RED-PALETTE-DARK: #58151c;
$GLOBAL-BLUE-PALETTE-LIGHT: #cfe2ff;
$GLOBAL-BLUE-PALETTE-DARK: #052c65;
$GLOBAL-GREEN-PALETTE-LIGHT: #d1e7dd;
$GLOBAL-GREEN-PALETTE-DARK: #0a3622;
$GLOBAL-BLACK-PALETTE-LIGHT: #ced4da;
$GLOBAL-BLACK-PALETTE-DARK: #101010;
$GLOBAL-YELLOW-PALETTE-LIGHT: #fff3cd;
$GLOBAL-YELLOW-PALETTE-DARK: #664d03;
$GLOBAL-ORANGE-PALETTE-LIGHT: #ffe2da;
$GLOBAL-ORANGE-PALETTE-DARK: #ff4500;

// ICON
$GLOBAL-ICON-COLOR-LIGHT: #202020;
$GLOBAL-ICON-COLOR-DARK: #ffffff;

// TRANSITIONS
$GLOBAL-HOVER-TRANSITION: all 0.3s ease-in-out;
