// Profile - Module

// Profile - Module Colors
$PROFILE-BACKGROUND-LIGHT: #ffffff;
$PROFILE-BACKGROUND-DARK: #222222;
$PROFILE-TEXT-LIGHT: #ffffff;
$PROFILE-TEXT-DARK: #000000;

// Profile - Module Fonts
$PROFILE-PRIMARY-FONT: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$PROFILE-SECONDARY-FONT: GILROY_BLACK;

// Edit Profile - Component
$EDIT-PROFILE-BANNER: #000000;
